.frame {
	box-shadow: 0 0 0 1px #D6D6D6,0 1px 1px rgba(0,0,0,0.45);
	padding: 2px;
}
a#changePhotoBtn {
	position: relative;
	overflow: hidden;
	color: #006fa6;
	text-decoration: none;
	margin-left: 5px;
}

a#changePhotoBtn:hover {
	text-decoration: underline !important;
	cursor:pointer;
}

.uploader-dialogue .actions {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	display: table;
	
	clear: both;
}



.uploader-dialogue h3.title {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	color: #434649;
	margin:0;
	font-family: Arial, sans-serif;
	display: inline-block;
}

.crop-ctn {
	float:left;
	margin-right: 10px;
	font-family: Arial, sans-serif;
}

.preview-ctn {
	float:left;
	font-family: Arial, sans-serif;
}

.crop-ctn > h4, .preview-ctn > h4 {
	font-weight: bold;
	line-height: 16px;
	color: #000;
	font-size: 13px;
	color: #666;
	margin:0;padding:0;
}

.crop-ctn > p, .preview-ctn > p {
	line-height: 17px;
font-weight: normal;
font-size: 11px;
color: #888;
margin:0;padding:0;
}

.main-crop-container {
	display: block;
	width: 537px;
	float: left;
	padding: 20px;
	background: -webkit-linear-gradient(rgb(235, 235, 235), rgb(247, 245, 245)); /* For Safari 5.1 to 6.0 */    
	background: -o-linear-gradient(rgb(235, 235, 235), rgb(247, 245, 245)); /* For Opera 11.1 to 12.0 */    
	background: -moz-linear-gradient(rgb(235, 235, 235), rgb(247, 245, 245)); /* For Firefox 3.6 to 15 */    
	background: linear-gradient(rgb(235, 235, 235), rgb(247, 245, 245)); /* Standard syntax */;
}

.preview-ctn {
	float: left;
	border-left: 1px solid #ddd;
	padding-left: 10px;
	max-height: 400px;
}

.feedbacklabel {
right: 288px;
z-index: 5000;
position: absolute;
background-color: #c9342f;
background-repeat: no-repeat;
box-shadow: 0 0 0 1px #c15252,0 1px 2px rgba(0,0,0,0.45);
color: #fff;
font-size: 15px;
padding: 5px;
margin-top: 1px;
border-radius:2px

}
  
.formcomponent.invalid {
    border: 1px solid #c9342f;
    width: 260px;
}


  
  .BlockGrid-item{position:relative;float:left;margin:0;padding:0;overflow:hidden;min-height:50px;border-radius:10px;-moz-box-sizing:border-box;box-sizing:border-box;border:5px solid transparent}.BlockGrid-item img{display:block;width:100%;height:100%}.BlockGrid-item--size1{width:50%}.BlockGrid-item--size4{width:100%}.BlockGrid-itemTitle{-moz-box-sizing:border-box;box-sizing:border-box;font-size:14px;text-transform:uppercase;font-weight:500;position:absolute;bottom:0;padding:10px 8px;background:#000;background:rgba(0,0,0,0.8);width:100%;color:#fff}.ImportFriendsCallout p{color:#8899a6;font-weight:300;font-size:28px;line-height:32px;margin:15px 0 30px 0}.ImportFriendsCallout-title{text-transform:uppercase;font-weight:500;font-size:16px;line-height:20px}.ImportFriendsCallout-photo{width:420px;margin-top:16px}.ImportFriendsCallout-smallImageContainer{width:132px;height:132px;float:left}.ImportFriendsCallout-smallFriendImage{display:block;width:100%;border-radius:4px}.ImportFriendsCallout-smallFriendImage+.ImportFriendsCallout-smallFriendImage{margin-top:10px}.ImportFriendsCallout-largeFriendImage{width:273px;height:273px;border-radius:4px;margin-left:10px}.ImportFriendsCallout-primaryBtn{-moz-box-sizing:border-box;box-sizing:border-box;padding:16px 16px;width:auto}.ImportFriendsCallout-primaryBtn--big{padding:16px 24px;min-width:312px}.ImportFriendsCallout-btn{-moz-box-sizing:border-box;box-sizing:border-box;padding:12px 16px;width:100%}.ImportFriendsCallout-emailIcon{vertical-align:middle;margin-right:5px}.ImportFriendsCallout-disclaimer{font-size:12px;margin-top:5px;color:#8899a6}.ImportFriendsCallout-list{counter-reset:ImportFriendsListCounter}.ImportFriendsCallout-list li{counter-increment:ImportFriendsListCounter;margin:20px 0;padding-left:50px;min-height:50px;position:relative;color:#8899a6;font-weight:300;font-size:20px;line-height:22px}.ImportFriendsCallout-list li:before{content:counter(ImportFriendsListCounter);display:block;position:absolute;top:0;left:2px;height:22px;width:22px;padding:4px;background-color:#ccd6dd;color:#66757f;border-radius:50%;text-align:center;font-size:16px;font-weight:bold}.ImportFriendsCallout-tooltip{color:#3b94d9;transition:.5s all;text-shadow:0 0 0 transparent;cursor:default}.ImportFriendsCallout-tooltip:hover{color:#1c6399;text-shadow:0 0 5px rgba(136,201,249,0.6)}.HomeNavPopover{position:fixed;opacity:0;-ms-filter:"alpha(opacity=0)";max-width:250px;left:10px;top:-50px;padding:15px;background-color:#fff;border:1px solid #e1e8ed;border-radius:5px}.HomeNavPopover h2{font-weight:500;font-size:14px;margin-bottom:10px;color:#292f33}.HomeNavPopover-content p+p{margin-top:15px}.HomeNavPopover.fadingOut{transition:opacity .7s}.HomeNavPopover-arrow{position:absolute;border-left:1px solid #e1e8ed;border-top:1px solid #e1e8ed;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);width:15px;height:15px;top:-8px;left:17px;background-color:#fff}@-webkit-keyframes underOverNavBar{0%{top:-50px;z-index:999}50%{top:0;z-index:999}70%{top:47px;z-index:999}80%{top:65px;z-index:999}84%{top:65px;z-index:1001}100%{top:47px;z-index:1001}}@keyframes underOverNavBar{0%{top:-50px;z-index:999}50%{top:0;z-index:999}70%{top:47px;z-index:999}80%{top:65px;z-index:999}84%{top:65px;z-index:1001}100%{top:47px;z-index:1001}}.StartFollowContext{display:inline-block;position:relative;vertical-align:top;top:-2px}.StartFollowContext-item{border:1px dashed #e1e8ed;border-radius:4px;-moz-box-sizing:border-box;box-sizing:border-box;float:left;height:24px;margin-right:7px;overflow:hidden;width:24px}.StartFollowContext-item:last-child{margin-right:0}.StartFollowContext-item.is-active{border:0}.StartFollowContext-item img{width:100%;height:100%}.StartHeader{margin-bottom:30px;min-height:80px}.StartHeader p{color:#66757f;font-weight:300;font-size:20px;line-height:24px;padding-right:40px}.StartHeader-title{color:#292f33;font-size:32px;line-height:30px;margin-top:3px;margin-bottom:15px!important}.StartHeader-tooltip{color:#3b94d9;transition:.5s all;text-shadow:0 0 0 transparent;cursor:default}.StartHeader-tooltip:hover{color:#1c6399;text-shadow:0 0 5px rgba(136,201,249,0.6)}.StartHeader--complete .StartHeader-default,.StartHeader-complete{display:none}.StartHeader--complete .StartHeader-complete{display:block}.StartActions{margin:0 auto;text-align:center;width:80%}.StartActions .btn{-moz-box-sizing:border-box;box-sizing:border-box;padding:15px 20px;margin-bottom:10px;width:100%}.StartSetupProfile{width:440px}.StartSetupProfile-profileCard{position:relative;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:800;-webkit-transform-style:preserve-3d}.StartSetupProfile-profileCardInner{padding-top:39.090909090909086%;padding-bottom:1px}.StartSetupProfile-profileCardBackground{padding-top:23.18181818181818%;border-radius:5px 5px 0 0;top:0;width:100%;position:absolute;z-index:1;background-color:#e1e8ed}.StartSetupProfile-profileCardPhoto{position:absolute;z-index:2;display:block;width:26.36363636363636%;border-radius:8px;border:solid #fff 5px;background-color:#fff;top:32.55813953488372%;left:4.772727272727273%}.StartSetupProfile-profileCardPhoto img{display:block;width:100%;border-radius:5px}.StartSetupProfile-profileCardPhotoDrag{background-color:rgba(255,255,255,0.85);bottom:0;cursor:copy;left:0;opacity:0;-ms-filter:"alpha(opacity=0)";position:absolute;right:0;text-shadow:0 1px 2px rgba(255,255,255,.75);top:0;transition:all .2s;visibility:hidden;z-index:1000}.StartSetupProfile-profileCardPhotoDrag--show{opacity:1;-ms-filter:"alpha(opacity=100)";visibility:visible}.StartSetupProfile-profileCardPhotoDrag:before{border:dashed 3px #50a5e6;position:absolute;content:"";top:2px;left:2px;right:2px;bottom:2px;border-radius:5px}.StartSetupProfile-profileCardPhotoIcon{position:absolute;top:7px;right:11px}.StartSetupProfile-profileCardPhotoDragMessage{text-align:center;position:absolute;left:10px;right:10px;top:50%;margin-top:-14px;font-size:14px}.StartSetupProfile-profileCardPhotoOrDrag,.StartSetupProfile-profileCardPhotoDragHere{display:none}.StartSetupProfile-profileCardPhotoDrag--showOrDrag .StartSetupProfile-profileCardPhotoOrDrag,.StartSetupProfile-profileCardPhotoDrag--showDragHere .StartSetupProfile-profileCardPhotoDragHere{display:block}.StartSetupProfile-profileCardText{top:71.51162790697674%;left:37.27272727272727%;position:absolute;z-index:2}.StartSetupProfile-profileCardName{font-size:20px;font-weight:bold;line-height:1.25}.StartSetupProfile-profileCardUsername{font-size:16px;color:#8899a6}.StartSetupProfile-profileCard+.StartSetupProfile-actions{margin-top:38px}.StartSetupProfile-actions .btn{width:93%;-moz-box-sizing:border-box;box-sizing:border-box}.StartSetupProfile-actions .Icon{vertical-align:top;font-size:120%;line-height:1}.StartSetupProfile-actions .btn:focus{border-color:#aab8c2}.StartSetupProfile-uploadButton{position:relative}.StartSetupProfile-uploadButton .StartSetupProfile-uploadButtonInput{position:absolute;top:0;right:0;z-index:10;width:100%;height:100%;font-size:50px;cursor:pointer;opacity:0;-ms-filter:"alpha(opacity=0)"}.StartSetupProfile-profileCard--animateWait .StartSetupProfile-profileCardPhoto,.StartSetupProfile-profileCard--animateWait .StartSetupProfile-profileCardName,.StartSetupProfile-profileCard--animateWait .StartSetupProfile-profileCardUsername{opacity:0;-ms-filter:"alpha(opacity=0)"}.StartSetupProfile-profileCard--animateIn .StartSetupProfile-profileCardPhoto,.StartSetupProfile-profileCard--animateIn .StartSetupProfile-profileCardName,.StartSetupProfile-profileCard--animateIn .StartSetupProfile-profileCardUsername{-webkit-animation-name:StartSetupProfile-popIn;animation-name:StartSetupProfile-popIn;-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}@-webkit-keyframes StartSetupProfile-popIn{0%{opacity:0;-ms-filter:"alpha(opacity=0)";-webkit-transform:translateY(15px);transform:translateY(15px)}100%{opacity:1;-ms-filter:"alpha(opacity=100)";-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes StartSetupProfile-popIn{0%{opacity:0;-ms-filter:"alpha(opacity=0)";-webkit-transform:translateY(15px);transform:translateY(15px)}100%{opacity:1;-ms-filter:"alpha(opacity=100)";-webkit-transform:translateY(0);transform:translateY(0)}}.StartCongratulations-bodyText{margin-bottom:1em;color:#66757f;font-size:22px;line-height:1.2}.StartCongratulations-heading1,.StartCongratulations-heading2{color:#292f33;font-weight:300;margin-bottom:1em}.StartCongratulations-heading1{font-size:30px;line-height:1.2em;margin-bottom:50px}.StartCongratulations-leftCol{padding-top:40px}.StartCongratulations-buttons{margin-top:40px}.StartCongratulations-button{text-align:center;padding:16px 24px}.StartCongratulations-image{display:block;margin-bottom:10px;border-radius:5px;-webkit-animation-name:StartCongratulationsFadeIn;animation-name:StartCongratulationsFadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.StartCongratulations-image:nth-child(odd){float:right}.StartCongratulations-image:nth-child(1){-webkit-animation-delay:.6s;animation-delay:.6s}.StartCongratulations-image:nth-child(2){-webkit-animation-delay:.8s;animation-delay:.8s}.StartCongratulations-image:nth-child(3){-webkit-animation-delay:1.0s;animation-delay:1.0s}.StartCongratulations-image:nth-child(4){-webkit-animation-delay:1.2s;animation-delay:1.2s}@-webkit-keyframes StartCongratulationsFadeIn{0%{opacity:0;-ms-filter:"alpha(opacity=0)";-webkit-transform:translateY(10px);transform:translateY(10px)}100%{opacity:1;-ms-filter:"alpha(opacity=100)";-webkit-transform:translateY(0px);transform:translateY(0px)}}@keyframes StartCongratulationsFadeIn{0%{opacity:0;-ms-filter:"alpha(opacity=0)";-webkit-transform:translateY(10px);transform:translateY(10px)}100%{opacity:1;-ms-filter:"alpha(opacity=100)";-webkit-transform:translateY(0px);transform:translateY(0px)}}.StartSearchBox-inputWrapper{position:relative}.StartSearchBox-inputWrapper .Icon--search{position:absolute;right:20px;top:27px;font-size:22px;color:#ccd6dd}.StartSearchBox-typeaheadInput{font-weight:300;width:100%;font-size:20px;padding:15px 50px 15px 15px;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:10px;height:55px}.StartSearchBox-smallTitle{text-transform:uppercase;font-weight:500;font-size:16px;line-height:20px}.StartNavigation{background:#55acee;left:0;position:fixed;right:0;top:0;z-index:1000}.StartNavigation-container{height:55px;position:relative;width:100%}.StartNavigation-containerInner{-moz-box-sizing:border-box;box-sizing:border-box;height:55px;margin:0 auto;padding:0 30px;width:auto;max-width:970px;min-width:530px}.StartNavigation-search{float:right;transition:opacity .2s;margin:5px 0 0}.StartNavigation .form-search{width:250px;margin-right:0}@media screen and (max-width:600px){.StartNavigation .form-search{width:180px}}.StartNavigation-container.global-nav .search-input{background-color:#fff;color:#292f33}.StartNavigation-container.global-nav .search-input:focus{background-color:#fff;color:#66757f;opacity:1;-ms-filter:"alpha(opacity=100)"}.StartNavigation-container.global-nav .search-input::-webkit-input-placeholder{color:#292f33}.StartNavigation-container.global-nav .search-input:-moz-placeholder{color:#292f33}.StartNavigation-container.global-nav .search-input::-moz-placeholder{color:#292f33}.StartNavigation-container.global-nav .search-input:-ms-input-placeholder{color:#292f33}.StartNavigation-container.global-nav .search-input::placeholder{color:#292f33}.StartNavigation-container.global-nav .search-input:focus::-webkit-input-placeholder{color:#66757f}.StartNavigation-container.global-nav .search-input:focus:-moz-placeholder{color:#66757f}.StartNavigation-container.global-nav .search-input:focus::-moz-placeholder{color:#66757f}.StartNavigation-container.global-nav .search-input:focus:-ms-input-placeholder{color:#66757f}.StartNavigation-container.global-nav .search-input:focus::placeholder{color:#66757f}.StartNavigation-search .search-icon .Icon{color:#66757f}.StartNavigationItem{-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;height:55px;padding:17px 18px 17px 0;position:relative;display:inline-block;vertical-align:top;transition:opacity .2s}.StartNavigationItem .Icon--large{position:relative;top:-3px;left:0;transition:all .5s ease .15s}.StartNavigationItem-title{display:inline-block;margin-right:5px;max-width:155px;font-size:15px;font-weight:300;transition:opacity .5s}.StartPage{background:#e1e8ed}.StartPage .ProfilePopupContainer .go-to-profile,.StartPage .ProfilePopupContainer--bellbird .go-to-profile,.StartPage .ProfilePopupContainer .UserActions .dropdown,.StartPage .ProfilePopupContainer--bellbird .UserActions .dropdown{display:none}.StartPage #nux-search-dialog{z-index:4999}.StartPage .wrapper-welcome.wrapper{padding-top:55px;margin-bottom:30px;width:970px}.StartPage .wrapper .content-main{border-radius:0;float:none;padding:0;margin:0;width:100%}.StartPage-import .wrapper .content-main{background-color:transparent}.StartPage-import .StartActions{width:100%}.StartPage-import .ContactImportButtons-primaryBtn{padding:12px 20px;width:auto}.StartPage .content-main>.StartPage-module{background-color:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:0;padding:40px 30px 20px}.StartPage-interest .content-main>.StartPage-module{padding:0}.StartPage .content-main>.StartPage-module+.StartPage-module{border-top-left-radius:5px;border-top-right-radius:5px;margin-top:20px}.StartPage .tweet,.StartPage .tweet:hover{cursor:auto;background-color:transparent}.StartPage .listview-find-friends-result .contact-select-box{right:0}.StartPage-notice{color:#8899a6;font-size:18px;max-width:600px}.StartPage-next{font-size:14px;display:block;text-align:center}.StartPage-next--below{margin-top:10px;font-size:12px}.StartPage-next--faint{color:#aab8c2}.StartPage-next--faint:hover,.StartPage-next--faint:focus{text-decoration:none;color:#aab8c2}.StartPage-disclaimer{width:60%;color:#8899a6;margin-top:10px;line-height:1.3em;font-size:12px}.StartPage-error{padding:100px 0}.StartPage-error p{margin:20px auto}.StartPage-errorButton{padding:20px 40px;font-size:16px;display:inline-block;margin-bottom:10px}.StartPage .stream-item{border-left-color:transparent;border-right-color:transparent}.StartPage .stream-end-item,.StartPage .stream-end,.StartPage .stream-loading,.StartPage .stream-placeholder{border:0}.StartPage-transitioning .StartNavigationItem:not(.StartNavigationItem--logo),.StartPage-transitioning .StartNavigation-search{opacity:0;-ms-filter:"alpha(opacity=0)"}.StartPage-transitioning .StartNavigationItem .Icon--bird{left:450px}.StartFindFriends-timelineHeader{background:#fff;border-bottom:1px solid #e1e8ed;font-size:14px;padding:20px 0;transition:top .15s ease-out}.StartFindFriends-timelineHeader h5{color:#66757f;font-size:20px;font-weight:300;line-height:22px}.StartFindFriends-timelineHeader label{color:#2b7bb9;display:inline-block;margin-bottom:0}.StartFindFriends-timelineHeader .Checkbox{margin-left:5px}.StartFindFriends-loadMore{display:block;font-size:14px;font-weight:300;margin:20px 0}.StartFindFriends .ContactImportButtons{width:50%}.StartInterestsHeader{border-bottom:1px solid #e1e8ed;padding:20px 0 10px 0;position:relative;left:-10px}.StartInterestsHeader p{color:#66757f;font-weight:300;font-size:24px;line-height:28px;margin-top:20px}.StartInterestsHeader h3{margin-top:20px}.StartInterestsHeader .StartSearchBox{border-top:1px solid #e1e8ed;padding:20px 40px;margin-top:20px}.StartInterestNav{margin-left:-10px;margin-top:-80px}.StartInterestNav-item{padding-bottom:25px}.StartInterestNav-itemWrapper{padding:10px}.StartInterestNav-text{box-shadow:0 0 1px #e1e8ed;white-space:pre;padding:10px;background-color:#88c9f9;font-size:15px;font-weight:500;color:#fff;text-decoration:none;cursor:pointer;color:#fff}.StartInterestNav-text.is-active,.StartInterestNav-text:hover,.StartInterestNav-text:focus,.StartInterestNav-text:active{background-color:#269;text-decoration:none;color:#fff}.StartInterestFooter{background-color:#50aaf0;padding:40px 0;color:#fff}.StartInterestFooter-label{font-weight:300;color:#fff}.StartInterestFooter-label a.is-active,.StartInterestFooter-label a:hover,.StartInterestFooter-label a:focus,.StartInterestFooter-label a:active{color:#fff}.StartInterestFooter-label span{font-weight:bold}.StartInterestFooter-userList{padding:15px 0}.StartInterestFooter-user{padding-right:5px;display:inline-block}.StartInterestFooter-user img{border-radius:4px}.StartSearchDialog .modal{width:640px}.StartSearchDialog .modal-body{height:500px;overflow:auto}.StartSearchDialog-content .account{border-bottom:0}.StartSearchDialog .account .content{margin-right:140px}.StartSearchDialog .separation-module+.stream-item{border-top:0}.StartSearchDialog .user-actions .dropdown,.StartSearchDialog .stream-spelling-corrections,.StartSearchDialog .stream-related-queries{display:none}.FollowPopover{position:absolute;display:none;max-width:160px;top:-50px;padding:15px;background-color:#fff;border:1px solid #e1e8ed;border-radius:5px}.FollowPopover-content{font-weight:500;font-size:14px;margin-bottom:10px;color:#292f33}.FollowPopover-arrow{display:none}body:not(.ie8) .FollowPopover-arrow{position:absolute;border-color:#e1e8ed;border-style:solid;border-width:1px 0 0 1px;-webkit-transform:rotate(315deg);-ms-transform:rotate(315deg);transform:rotate(315deg);width:15px;height:15px;top:15px;left:-8px;background-color:#fff;display:block}.FollowPopover-footer{padding-top:15px;font-size:12px;font-weight:300;line-height:15px;color:#8899a6}.StartAlertModal-title{font-size:20px;font-weight:bold;margin-bottom:10px;margin-top:20px}.StartAlertModal-message{font-size:16px;line-height:1.3;margin-right:40px}.StartExitTransitionDialog{position:fixed;top:0;width:100%;height:100%;z-index:-1;background-color:white;opacity:0;-ms-filter:"alpha(opacity=0)";transition:opacity .5s ease .2s}.StartExitTransitionDialog--active{z-index:999;opacity:1;-ms-filter:"alpha(opacity=100)"}.StartExitTransitionDialog-content{position:relative;top:-100px;transition:all .5s ease .7s}.StartExitTransitionDialog--active .StartExitTransitionDialog-content{top:200px}.StartExitTransitionDialog-content img{margin-top:20px;height:70px;opacity:0;-ms-filter:"alpha(opacity=0)";transition:all .5s ease .9s}.StartExitTransitionDialog--active .StartExitTransitionDialog-content img{opacity:1;-ms-filter:"alpha(opacity=100)"}.ProfileThumbnailPicker .StartWCSelectTeam-team{position:relative;height:auto;width:auto}.ProfileThumbnailPicker .StartWCFlag{margin:4px;width:60px;height:60px}.ProfileThumbnailPicker p{color:#66757f;font-weight:300;font-size:20px;line-height:24px;margin-top:40px;margin-bottom:12px;padding-left:5px}.ProfileThumbnailPicker-manual{width:60px;height:60px;background-color:#88c9f9;background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));border-radius:3px;margin:4px;color:#fff;box-shadow:0 0 3px rgba(0,0,0,0.166);transition-property:background box-shadow;transition-duration:.3s}.ProfileThumbnailPicker-manual:focus,.ProfileThumbnailPicker-manual:hover{background-color:#55acee;background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));box-shadow:0 0 3px rgba(0,0,0,0.33)}.ProfileThumbnailPicker-manual .Icon{margin:10px 0 0 0}.ProfileThumbnailPicker-manual .Icon--camera.Icon--large{margin-top:6px}.ProfileThumbnailPicker .photo-file-name{display:none}.ProfileThumbnailPicker .DashboardProfileCard-avatarLink{margin:-60px 0 0 15px}.ProfileThumbnailPicker .DashboardProfileCard-avatarImage{height:120px;width:120px}.ProfileThumbnailPicker .DashboardProfileCard-userFields{left:152px;margin:0 6px 3px 0}.ProfileThumbnailPicker .DashboardProfileCard-screennameLink{font-size:16px;font-weight:400;margin-top:3px}.ProfileThumbnailPicker .DashboardProfileCard-name{font-size:22px;line-height:25px}.StandaloneQuestionModule{width:350px;margin:0 auto;padding:10px 30px;border:1px solid #e1e8ed;border-radius:5px;background:#fff}.StandaloneQuestionModule-question{font-size:16px;font-weight:bold;margin:10px auto 20px}.StandaloneQuestionModule p{margin-bottom:20px}.StandaloneQuestionModule .btn{padding:15px;font-size:16px;margin-bottom:10px}.StartCheckboxList-item{padding-bottom:18px}.StartCheckboxList-label{vertical-align:middle;margin-left:10px;font-size:24px;line-height:20px}.ContactImportButtons{position:relative}.ContactImportButtons-btn{-moz-box-sizing:border-box;box-sizing:border-box;padding:12px 16px;width:100%}.ContactImportButtons-primaryBtn{padding:12px 20px}.ContactImportButtons-emailIcon{vertical-align:middle;margin-right:5px}.ContactImportButtons-toggle{cursor:pointer}.ContactImportButtons--transition.ContactImportButtons--showSingleService .ContactImportButtons-singleService,.ContactImportButtons--transition.ContactImportButtons--showMultipleServices .ContactImportButtons-multipleServices{-webkit-animation-name:ContactImportButtonsTransitionIn;animation-name:ContactImportButtonsTransitionIn;-webkit-animation-duration:.5s;animation-duration:.5s}.ContactImportButtons--showSingleService .ContactImportButtons-multipleServices,.ContactImportButtons--showMultipleServices .ContactImportButtons-singleService{visibility:hidden;position:absolute;top:0}.ContactImportButtons--transition.ContactImportButtons--showSingleService .ContactImportButtons-multipleServices,.ContactImportButtons--transition.ContactImportButtons--showMultipleServices .ContactImportButtons-singleService{-webkit-animation-name:ContactImportButtonsTransitionOut;animation-name:ContactImportButtonsTransitionOut;-webkit-animation-duration:.5s;animation-duration:.5s}@-webkit-keyframes ContactImportButtonsTransitionOut{0%{opacity:1;-ms-filter:"alpha(opacity=100)";visibility:visible;position:absolute}50%{opacity:0;-ms-filter:"alpha(opacity=0)";visibility:hidden;position:absolute}}@keyframes ContactImportButtonsTransitionOut{0%{opacity:1;-ms-filter:"alpha(opacity=100)";visibility:visible;position:absolute}50%{opacity:0;-ms-filter:"alpha(opacity=0)";visibility:hidden;position:absolute}}@-webkit-keyframes ContactImportButtonsTransitionIn{0%{visibility:hidden;position:absolute;opacity:0;-ms-filter:"alpha(opacity=0)"}50.5%{opacity:0;-ms-filter:"alpha(opacity=0)";visibility:visible;position:static}100%{opacity:1;-ms-filter:"alpha(opacity=100)"}}@keyframes ContactImportButtonsTransitionIn{0%{visibility:hidden;position:absolute;opacity:0;-ms-filter:"alpha(opacity=0)"}50.5%{opacity:0;-ms-filter:"alpha(opacity=0)";visibility:visible;position:static}100%{opacity:1;-ms-filter:"alpha(opacity=100)"}}.Avatar{-moz-force-broken-image-icon:1;display:block;border-radius:3px}.Avatar--size48{height:48px;width:48px}.BlocksYouTimeline{margin:40px 0 35px 15px}.BlocksYouTimeline-heading{color:#66757f;font-size:22px;font-weight:300;margin-bottom:15px}.BlocksYouTimeline-explanation{color:#66757f}.BlockedWarningTimeline{margin:35px 0 35px 15px;display:none}.BlockedWarningTimeline-heading{color:#66757f;font-size:22px;font-weight:300;margin-bottom:15px;margin-top:-5px}.BlockedWarningTimeline-explanation{color:#66757f}.BlockedWarningTimeline-button{margin-top:30px;margin-bottom:15px}.FollowStatus{color:#8899a6;font-size:11px;font-weight:400;margin-left:3px;text-transform:uppercase}.GridTimeline{margin-bottom:50px;position:relative}.GridTimeline-emptyText{color:#66757f;font-size:22px;font-weight:300;margin:35px 0 35px 15px}.GridTimeline .has-items .GridTimeline-emptyText{display:none}.GridTimeline .ProfileTweet{margin-bottom:-1px}.GridTimeline-failure{border-top:1px solid #e1e8ed;color:#66757f;font-size:16px;padding:25px 0 20px 0;text-align:center}.GridTimeline-retry{margin:20px 0}.GridTimeline-footer{margin-top:20px;position:relative;text-align:center}.GridTimeline-footer:before{background:#e1e8ed;content:'';height:1px;left:0;position:absolute;right:0;top:45%;z-index:-1}.GridTimeline-footerIcon{background-color:#f5f8fa;color:#ccd6dd;display:inline-block;padding:0 15px}.GridTimeline .has-more-items .spinner{display:block;background:url(../../img/t1/spinner-rosetta-gray-26x26.gif) no-repeat 0 0}.GridTimeline .spinner,.GridTimeline .has-more-items .Icon,.GridTimeline .has-items-error .spinner{display:none}.ListCreationModule-title{color:#66757f;font-size:18px;font-weight:300;line-height:18px;margin:25px 0 15px}.ListCreationModule-description{color:#66757f;margin-bottom:10px}.ListCreationModule-moreInfoLink{font-size:12px;font-weight:bold}.ListCreationModule-action .btn{font-size:14px}.PhotoRail{display:none}.PhotoRail-heading{color:#8899a6;font-size:14px;line-height:1;margin-bottom:10px}.PhotoRail-heading .Icon{min-width:18px}.PhotoRail-mediaBox{margin:-5px 0 0 -5px;max-height:176px;overflow:hidden}.PhotoRail-mediaBox .media-thumbnail{background-color:#66757f;border-radius:4px;cursor:pointer;float:left;height:83px;margin:5px 0 0 5px;overflow:hidden;position:relative;width:83px}.PhotoRail-mediaBox .grid-tweet-actions-container{display:none}.ProfileAvatar{background:#fff;border: 2px solid #fff;border-radius: 2px;box-shadow: 1px 1px 1px rgba(136,153,166,0.15);height: 260px;position:relative;width: 260px;margin-bottom: 10px;margin-left: auto;margin-right: auto;}.ProfileAvatar-image,.ProfileAvatar-placeholderImage{-moz-force-broken-image-icon:1;border-radius: 3px;height:100%;left:0;position:absolute;top:0;}.ProfileCanopy{position:relative}.ProfileCanopy,.ProfileCanopy-header{height:175px;transition:height .3s}.ProfileCanopy-header:before{display:block;content:'';position:absolute;height:100%;width:100%;box-shadow:inset 0 0 1px 1px rgba(0,0,0,0.2);z-index:1}.ProfileCanopy--withNav{padding-bottom:60px}.ProfileCanopy--large,.ProfileCanopy--large .ProfileCanopy-header{height:280px}.ProfileCanopy-inner{position:relative;width:100%;z-index:4}.ProfileCanopy-header{max-width:2560px;position:relative;z-index:3;background-color:#63aeee}.ProfileCanopy-headerBg{position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden}.ProfileCanopy-headerBg img{position:absolute;left:0;right:0;top:-9999px;bottom:-9999px;margin:auto 0;width:100%}.ProfileCanopy-header .AppContainer{height:100%;position:relative}.ProfileCanopy-addHeaderCallout{height:100%;opacity:0;-ms-filter:"alpha(opacity=0)";text-align:center;transition:opacity .25s ease-in-out;width:100%}.ProfileCanopy-addHeaderCallout:focus{outline:0}.ProfileCanopy-addHeaderCallout:hover{opacity:1;-ms-filter:"alpha(opacity=100)"}.ProfileCanopy-addHeaderCalloutText{bottom:25px;color:#fff;font-size:22px;font-weight:bold;left:0;position:absolute;width:100%}.ProfileCanopy-avatar{bottom: -px;/* left:10px; *//* position:absolute; */transition:bottom .3s;z-index:3}.ProfileCanopy-navBar{background-color:#fff;border-bottom:1px solid #e1e8ed;-moz-box-sizing:border-box;box-sizing:border-box;height:60px}.ProfileCanopy-card{-moz-box-sizing:border-box;box-sizing:border-box;height:60px;margin-right:-10px;max-width:100%;overflow:hidden;padding-top:60px;transition:padding-top .3s}.ProfileCanopy-nav .ProfileNav{margin-bottom:-1px}.ProfileCanopy.is-locked .ProfileCanopy-inner{position:fixed;top:0;-webkit-transform:translateZ(0);transform:translateZ(0);width:100%}.ProfileCanopy.is-locked .ProfileCanopy-header{cursor:pointer}.ProfileCanopy.is-locked .ProfileCanopy-avatar{bottom:100px}.ProfileCanopy.is-locked .ProfileCanopy-card{padding-top:0}@media(min-width:1100px){.ProfileCanopy--large,.ProfileCanopy--large .ProfileCanopy-header{height:300px}.ProfileCanopy-header .EventCanopy-addHeaderCalloutContainer--large{bottom:110px}}@media(min-width:1200px){.ProfileCanopy--large,.ProfileCanopy--large .ProfileCanopy-header{height:320px}.ProfileCanopy-header .EventCanopy-addHeaderCalloutContainer--large{bottom:125px}}@media(min-width:1370px){.ProfileCanopy--large,.ProfileCanopy--large .ProfileCanopy-header{height:360px}.ProfileCanopy-header .EventCanopy-addHeaderCalloutContainer--large{bottom:145px}}@media(min-width:1450px){.ProfileCanopy--large,.ProfileCanopy--large .ProfileCanopy-header{height:380px}.ProfileCanopy-header .EventCanopy-addHeaderCalloutContainer--large{bottom:150px}}@media(min-width:1510px){.ProfileCanopy--large,.ProfileCanopy--large .ProfileCanopy-header{height:420px}.ProfileCanopy-header .EventCanopy-addHeaderCalloutContainer--large{bottom:170px}}@media(min-width:1670px){.ProfileCanopy--large,.ProfileCanopy--large .ProfileCanopy-header{height:460px}.ProfileCanopy-header .EventCanopy-addHeaderCalloutContainer--large{bottom:195px}}@media(min-width:1820px){.ProfileCanopy--large,.ProfileCanopy--large .ProfileCanopy-header{height:500px}}@media(min-width:1990px){.ProfileCanopy--large,.ProfileCanopy--large .ProfileCanopy-header{height:540px}}@media(min-width:2150px){.ProfileCanopy--large,.ProfileCanopy--large .ProfileCanopy-header{height:580px}}@media(min-width:2300px){.ProfileCanopy--large,.ProfileCanopy--large .ProfileCanopy-header{height:600px}}.ProfileCard{background-color: #FFFFFF;border: 5px solid #F2F2F2;border-radius:5px;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left;/* padding-top: 40px; */}.ProfileCard .pretty-link s,.ProfileCard .pretty-link:hover s,.ProfileCard .pretty-link:focus s,.ProfileCard .pretty-link:active s,.ProfileCard .pretty-link b,.ProfileCard .pretty-link:hover b,.ProfileCard .pretty-link:focus b,.ProfileCard .pretty-link:active b{color:inherit}.ProfileCard a,.ProfileCard a:hover,.ProfileCard a:focus,.ProfileCard a:active,.ProfileCard .pretty-link,.ProfileCard .pretty-link:hover,.ProfileCard .pretty-link:focus,.ProfileCard .pretty-link:active{color:#0084b4}.ProfileCard-bg{background-size:100%;border-bottom:1px solid #e1e8ed;display:block;height:95px;border-radius:4px 4px 0 0;background-position:0 50%}.ProfileCard-avatarLink{background-color:#fff;border-radius:6px;display:inline-block;margin:-45px 2px 0 -3px;padding:3px;/* position:relative; */vertical-align:bottom;z-index:1}.ProfileCard-avatarImage{border-radius:5px;display:block;height:70px;width:70px}.ProfileCard-actions{display:inline-block;height:35px;margin:0 0 -4px 0;position:absolute;right: -14px;vertical-align:bottom}.ProfileCard-actions .edit-button.small .button-text,.ProfileCard-actions .AcceptDeclineActions-buttonText{color:#292f33;display:block;max-height:19px;padding-top:3px}.ProfileCard-userActions.is-hidden{display:none}.ProfileCard-content{margin:13px 15px;position:relative}.ProfileCard-userFields{color:#292f33;margin-top:5px}.ProfileCard-screenname{height:14px;margin-bottom:10px}.ProfileCard-screenname>*{vertical-align:text-top}.ProfileCard .ProfileCard-screennameLink,.ProfileCard .ProfileCard-screennameLink:hover,.ProfileCard .ProfileCard-screennameLink:focus{color:#66757f;font-size:13px;font-weight:400;line-height:1}.ProfileCard-bio{color:#66757f;font-weight:400;word-wrap:break-word;overflow:hidden;font-size: 12px;line-height:1.375em;height:5.5em;padding: 15px;font-style: italic;}.ProfileCard-bio a .invisible{font-size:0;line-height:0}.ProfileCard-promoted{color:#8899a6;font-size:13px;line-height:1;margin-left:4px}.ProfileCard-promotedIcon{position:relative;top:1px;margin-right:2px;font-size:13px}.ProfileCard-promotedText{color:#8899a6;font-size:13px}.ProfileCard-footer{position:absolute;bottom:0;left:0;right:0}.ProfileCard--withheld .ProfileCard-bg,.ProfileCard--withheld .ProfileCard-avatarImage{background-color:#f5f8fa}.ProfileCard-userActions .user-actions.following:hover .UserActions-moreActions{opacity:0;-ms-filter:"alpha(opacity=0)"}.ProfileCard-userActions .user-actions.following:hover .UserActions-moreActions:hover{opacity:100;-ms-filter:"alpha(opacity=10000)"}@media(max-width:1200px){.ProfileCard .favorite-user-button,.ProfileCard .unmute-button,.ProfileCard .mute-button{display:none}}.ProfileCard .unmute-button,.ProfileCard .mute-button{padding:0}.ProfileCardMini{-moz-box-sizing:border-box;box-sizing:border-box;height:60px;padding:12px 15px;text-align:left}.ProfileCardMini-avatar{float:left;height:36px;margin-right:10px;width:36px}.ProfileCardMini-avatarImage{border-radius:4px;height:36px;max-width:100%;width:36px}.ProfileCardMini-details{height:36px;margin-left:46px}.ProfileCardMini-screenname{height:14px}.ProfileCardMini-screenname>*{vertical-align:text-top}.ProfileCardMini-screennameLink,.ProfileCardMini-screennameLink:hover{color:#66757f;font-size:13px;font-weight:400;line-height:1}.ProfileClusterFollow{padding:20px 0 20px;border-bottom:1px solid #e1e8ee;background-color:#f5f8fa}.ProfileClusterFollow-header{margin-bottom:20px;line-height:1}.ProfileClusterFollow-title{color:#8899a6;font-size:22px;font-weight:300;margin-left:2px}.ProfileClusterFollow-closeButtonText{font-size:13px;color:#3b88c3}.ProfileClusterFollow-closeButtonIcon{color:#8899a6;font-size:11px;margin-left:4px}.ProfileCustomTimelineItem{border-top:1px solid #e1e8ed;padding:10px 0;margin:0 15px}.ProfileCustomTimelineItem-avatar{height:60px;width:60px;border-radius:5px;display:block}.ProfileCustomTimelineItem-name{line-height:1;font-weight:bold}.ProfileCustomTimelineItem-ownerName{color:#8899a6}.ProfileCustomTimelineItem-byLine{font-size:12px;color:#8899a6}.ProfileCustomTimelineItem-bio{line-height:1;margin-top:12px}.ProfileCustomTimelineItem-memberCount{font-size:13px;line-height:1;margin-top:12px;color:#8899a6}.ProfileEmptyTimeline-prefilledTweetsHeading{color:#66757f;font-size:14px;font-weight:300;margin-bottom:20px;padding-left:15px;padding-right:20px}.ProfileEmptyTimeline .ProfileHeading-title{font-size:22px;padding-left:15px;padding-right:20px}.ProfileEmptyTimeline .ProfilePrefilledTweet{color:#66757f;margin-top:20px}.ProfileEmptyTimeline-tweetBoxHeading{color:#66757f;font-size:14px;font-weight:300;margin-bottom:15px;margin-top:30px}.ProfileEmptyTimeline-tweetBox{margin-bottom:20px}.ProfileFeatureBox{text-align:center;width:250px;float:left;margin-left:65px}.ProfileFeatureBox:first-child{margin-left:0}.ProfileFeatureBox-img{margin-bottom:25px;width:122px}.ProfileFeatureBox-heading{font-size:15px;line-height:25px;margin-bottom:3px;font-weight:600}.ProfileFeatureBox-description{font-size:13px;line-height:20px}.ProfileHeaderCard{/* margin-top: 10px; */margin-bottom: 10px;}.ProfileHeaderCard-name{line-height:1}.ProfileHeaderCard-nameLink{font-size: 18px;font-weight:700;line-height:1;word-wrap:break-word}.ProfileHeaderCard-screenname{color:#8899a6;font-size:14px;font-weight:400;line-height:1;margin-bottom:10px}.ProfileHeaderCard-screennameLink,.ProfileHeaderCard-screennameLink:hover{color:#8899a6}.ProfileHeaderCard-bio{font-size:14px;font-weight:400;line-height:20px;margin-bottom:10px;margin-top: 10px;word-wrap:break-word;border: 1px solid #f9f9f9;}.ProfileHeaderCard-location,.ProfileHeaderCard-url,.ProfileHeaderCard-joinDate{color:#8899a6;font-size: 12px;line-height:1;margin-top:6px}.ProfileHeaderCard-locationText,.ProfileHeaderCard-joinDateText{color:#292f33;text-overflow: ellipsis;  overflow: hidden;  max-width: 90%;  white-space: nowrap;  height: 12px;display: inline-block;}.ProfileHeaderCard-location .Icon,.ProfileHeaderCard-url .Icon,.ProfileHeaderCard-joinDate .Icon{min-width:18px}.ProfileHeaderCard-location>*,.ProfileHeaderCard-url>*,.ProfileHeaderCard-joinDate>*{display:inline-block;vertical-align: middle;}.ProfileHeaderCard-url .Icon{position:absolute}.ProfileHeaderCard-urlText{-moz-box-sizing:border-box;box-sizing:border-box;padding-left:23px;width:100%;word-wrap:break-word}.ProfileHeaderCard-joinDateText{margin-top:3px}.ProfileHeaderCard-bio a .invisible{font-size:0;line-height:0}.ProfileHeaderCard-more{line-height:22px;margin-bottom:16px}.ProfileHeaderCard-userActions{margin:14px 12px 0 0}.ProfileHeaderCard-nameWithBadges--1{padding-right:23px}.ProfileHeaderCard-nameWithBadges--2{padding-right:46px}.ProfileHeaderCard-badges{font-size:18px}.ProfileHeaderCard-badges .Icon{margin-left:5px}.ProfileHeaderCard-badges--1{margin-left:-23px}.ProfileHeaderCard-badges--2{margin-left:-46px}.ProfileHeaderCard .ProfileMessagingActions{margin-top:15px}.ProfileHeading{position:relative;z-index:1}.ProfileHeading-spacer{margin-top:10px}.ProfileHeading-content{background-color:#fff;border:1px solid #e1e8ed;border-radius:5px 5px 0 0;margin-bottom:-1px}.ProfileHeading-content--noFill{background-color:transparent;border:0;margin-bottom:5px}.ProfileHeading-title{color:#66757f;display:block;font-size:18px;font-weight:300;line-height:1;padding:15px 15px 12px}.ProfileHeading-toggleItem{display:inline-block;color:#ccd6dd;font-size:18px;font-weight:300;line-height:1;padding:15px 15px 12px}.ProfileHeading-toggleItem.is-active,.ProfileHeading-toggleItem.is-active:hover,.ProfileHeading-toggleItem.is-active:focus{color:#292f33;cursor:default;font-weight:500;text-decoration:none}.ProfileLifelineInfo{font-size:14px;line-height:18px}.ProfileLifelineInfo .Icon{margin-right:10px}.ProfileLifelineInfo-text{color:#8899a6}.ProfileListItem{border-top:1px solid #e1e8ed;padding:10px 0;margin:0 15px}.ProfileListItem-avatar{height:60px;width:60px;border-radius:5px;display:block}.ProfileListItem-name{line-height:1;font-weight:bold}.ProfileListItem-ownerName{color:#8899a6}.ProfileListItem-byLine{font-size:12px;color:#8899a6}.ProfileListItem-bio{line-height:1;margin-top:12px}.ProfileListItem-memberCount,.ProfileListItem-listActions,.ProfileListItem-listAction{display:inline-block}.ProfileListItem-memberCount{font-size:13px;line-height:1;margin-top:12px;color:#8899a6}.ProfileListItem-linkDivider{padding:0 1px}.ProfileListItem-listActions{color:#ccd6dd;font-size:13px;line-height:1}.ProfileListItem:hover .ProfileListItem-listAction{color:#8899a6}.ProfileListItem-listAction button:hover{text-decoration:underline}.ProfileListItem-listActionButton.is-featured .ProfileListItem-featureListText,.ProfileListItem-listActionButton.is-unfeatured .ProfileListItem-unfeatureListText{display:none}.ProfileMessagingActions-actionsContainer{margin:0 0 -5px -5px}.ProfileMessagingActions-buttonWrapper{-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;padding:0 0 5px 5px;vertical-align:top;width:50%}@media(max-width:1200px){.ProfileMessagingActions .NewTweetButton-text,.ProfileMessagingActions .DMButton-text{display:none}.ProfileMessagingActions-buttonWrapper.u-sizeFull .NewTweetButton-text,.ProfileMessagingActions-buttonWrapper.u-sizeFull .DMButton-text{display:inline-block}}.ProfileNameTruncated{height:22px;line-height:1.3;margin-top: 30px;margin-bottom:2px}.ProfileNameTruncated-link{color:#292f33;font-weight:700;font-size:18px}.ProfileNameTruncated-withBadges{-moz-box-sizing:border-box;box-sizing:border-box;position:relative}.ProfileNameTruncated-withBadges--1{padding-right:21px}.ProfileNameTruncated-withBadges--2{padding-right:42px}.ProfileNameTruncated-badges{bottom:0;font-size:16px;position:absolute;right:0}.ProfileNameTruncated-badges .Icon{margin-left:5px}.ProfileNav{height:60px;position:relative}.ProfileNav-item{display:inline-block}.ProfileNav .is-hidden{display:none}.ProfileNav-item--userActions{background-color:#FFF;-moz-box-sizing:border-box;box-sizing:border-box;height:59px;padding:12px 0 0 2px;position:absolute;right:0;top:0}.ProfileNav-stat{height:60px;-moz-box-sizing:border-box;box-sizing:border-box;border-bottom:0 solid;display:block;line-height:1;padding:14px 15px 7px;transition:all .15s ease-in-out}.ProfileNav-stat--link:hover,.ProfileNav-stat--link:focus{text-decoration:none}.ProfileNav-label,.ProfileNav-value{display:block}.ProfileNav-label{color:#66757f;font-size:11px;letter-spacing:.02em;text-transform:uppercase;transition:color .15s ease-in-out}.ProfileNav-value{font-size:18px;padding-top:3px;font-weight:500;transition:color .15s ease-in-out}.ProfileNav-item.is-active,.ProfileNav-item.is-active:hover{border-color:#66757f;color:#66757f;cursor:default}.ProfileNav-item.is-active .ProfileNav-label,.ProfileNav-item.is-active:hover .ProfileNav-label{color:#66757f}.ProfileNav-item.is-active .ProfileNav-value,.ProfileNav-item.is-active:hover .ProfileNav-value{color:#292f33}.ProfileNav-item.is-active .ProfileNav-stat,.ProfileNav-stat:hover,.ProfileNav-stat:focus{border-bottom-width:4px}.ProfileNav-stat--moreLink:hover,.ProfileNav-stat--moreLink:focus{border-bottom-width:0}.ProfileNav-stat:hover .ProfileNav-label,.ProfileNav-stat:focus .ProfileNav-label,.ProfileNav-stat:hover .ProfileNav-value,.ProfileNav-stat:focus .ProfileNav-value{color:inherit}.ProfileNav-dropdownCaret{font-size:12px;line-height:1;color:#8899a6}.ProfileNav-item--more.open .ProfileNav-dropdownCaret,.ProfileNav-item--more:hover .ProfileNav-dropdownCaret{color:inherit}.ProfileNav-item--more .dropdown-menu{margin-top:-1px}.ProfileNav-dropdownItem{font-size:14px!important}.ProfilePage{background-image:none!important;background-color:#f5f8fa!important;line-height:1.375;min-width:936px}.ProfilePage .content-main{border-radius:0;float:none;position:relative;width:auto}.ProfilePage .AppContent{padding:46px 0 0}.ProfilePage .topbar-with-navBanner+#page-outer .AppContent{padding-top:91px}.ProfilePage .withheld-message{margin:10px 0}.ProfilePage--withBlockedWarning.is-showingWarning .GridTimeline,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileHeading-content,.ProfilePage--withBlockedWarning.is-showingWarning .PhotoRail-heading,.ProfilePage--withBlockedWarning.is-showingWarning .PhotoRail-mediaBox,.ProfilePage--withBlockedWarning.is-showingWarning .PhotoRail-headingText,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileUserList,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileHeaderCard-bio,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileHeaderCard-location,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileHeaderCard-url,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileHeaderCard-joinDate,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileMessagingActions,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileNav-item--tweets,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileNav-item--following,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileNav-item--followers,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileNav-item--favorites,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileNav-item--more,.ProfilePage--withBlockedWarning.is-showingWarning .ProfileNav-item--lists{display:none}.ProfilePage--withBlockedWarning.is-showingWarning .BlockedWarningTimeline{display:inline-block}.ProfilePage .ProfileNav-item--userActions.profile-blocks-you .user-actions-follow-button{display:none}.ProfilePage-editingButtons,.ProfilePage-editingOverlay,.ProfilePage .ProfileHeaderCardEditing,.ProfilePage .ProfileAvatarEditing,.ProfilePage .ProfileHeaderEditing,.ProfilePage-testForEditingCss{display:none}.ProfilePopupContainer .modal{min-height:200px;width:520px;width:522px\9;overflow:visible}.ProfilePopupContainer .modal-content{overflow:visible}.ProfilePopupContainer .modal-body{padding:0}.ProfilePopupContainer .follow-status{display:inline}.ProfilePopupContainer .stats a{padding-left:15px;padding-right:15px}.ProfilePopupContainer .recent-tweets{margin-bottom:0}.ProfilePopupContainer .recent-tweets p{font-size:100%;margin:0}.ProfilePopupContainer .draggable .profile-modal-header{cursor:default}.ProfilePopupContainer .profile-popup-rounded-bottom{border-radius:0 0 6px 6px}.ProfilePopupContainer .profile-modal-header-inner .fullname a{display:inline-block;max-width:290px;text-overflow:ellipsis;vertical-align:top;overflow:hidden;white-space:nowrap}.ProfilePopupContainer .profile-header .profile-header-inner,.ProfilePopupContainer .profile-header .profile-banner-footer,.ProfilePopupContainer .profile-header .profile-social-proof{border-radius:0}.ProfilePopupContainer .user-actions{float:right}.ProfilePopupContainer .profile-header{float:none;border:0;margin-bottom:0}.ProfilePopupContainer .profile-card.profile-header{width:520px}.ProfilePopupContainer .go-to-profile{border-top:1px solid #e1e8ed}.ProfilePopupContainer .go-to-profile .view-profile{display:inline-block;padding:14px 12px 14px 56px;font-size:13px}.ProfilePopupContainer .social-proof{border-bottom:1px solid #e1e8ed;height:32px}.ProfilePopupContainer .QuoteTweet{cursor:default}.ProfilePopupContainer--bellbird .modal{width:590px}.ProfilePopupContainer--bellbird .ProfileHeader a,.ProfilePopupContainer--bellbird .ProfileHeader a b,.ProfilePopupContainer--bellbird .ProfileHeader a strong,.ProfilePopupContainer--bellbird .ProfileHeader a s,.ProfilePopupContainer--bellbird .tweet-text a,.ProfilePopupContainer--bellbird .tweet-text a b,.ProfilePopupContainer--bellbird .tweet-text a s,.ProfilePopupContainer--bellbird .tweet-text a:hover,.ProfilePopupContainer--bellbird .tweet-text a:hover b,.ProfilePopupContainer--bellbird .tweet-text a:hover s,.ProfilePopupContainer--bellbird .simple-tweet:hover .details b .simple-details-link,.ProfilePopupContainer--bellbird .ProfileHeader .user-dropdown:hover,.ProfilePopupContainer--bellbird .account-group:hover .fullname,.ProfilePopupContainer--bellbird a.details:hover b,.ProfilePopupContainer--bellbird a.view-profile{color:#3b88c3}.ProfilePopupContainer--bellbird .modal-body{padding:0}.ProfilePopupContainer--bellbird .follow-status{top:0}.ProfilePopupContainer--bellbird .ProfileHeader-userActions{position:absolute;right:0}.ProfilePopupContainer--bellbird .ProfileHeader .profile-header-inner{height:194px;border-radius:0;background-size:cover;background-repeat:none;background-position:center center;border-bottom:1px solid #e1e8ed}.ProfilePopupContainer--bellbird .ProfileHeader .profile-header-inner.no-image{height:85px}.ProfilePopupContainer--bellbird .profile-social-proof{background-color:#f5f8fa;border-radius:0;border-top:1px solid #e1e8ed}.ProfilePopupContainer--bellbird .ProfileHeader .profile-picture{background:white;border:4px solid #fff;border-radius:9px;-moz-box-sizing:border-box;box-sizing:border-box;height:120px;margin:-70px 10px 0 10px;width:120px}.ProfilePopupContainer--bellbird .ProfileHeader .profile-picture .avatar{border-radius:6px;height:100%;width:100%}.ProfilePopupContainer--bellbird .stats{margin-top:1px}.ProfilePopupContainer--bellbird .stats th{color:#66757f;font-size:10px;font-weight:normal;line-height:16px;padding-top:7px;text-align:left;text-transform:uppercase}.ProfilePopupContainer--bellbird .stats td{padding-bottom:0}.ProfilePopupContainer--bellbird .stats th,.ProfilePopupContainer--bellbird .stats td{padding-left:25px}.ProfilePopupContainer--bellbird .stats th:first-child,.ProfilePopupContainer--bellbird .stats td:first-child{padding-left:0}.ProfilePopupContainer--bellbird .stats a{padding:0}.ProfilePopupContainer--bellbird .stats a strong{color:#3b94d9;font-weight:500;font-size:18px}.ProfilePopupContainer--bellbird .stats li+li a{padding-left:30px;padding-right:0}.ProfilePopupContainer--bellbird .user-actions{margin-right:15px}.ProfilePopupContainer--bellbird .user-actions>.dropdown+button{margin-left:5px}.ProfilePopupContainer--bellbird .profile-details{text-align:left;margin:5px 15px 0}.ProfilePopupContainer--bellbird .profile-details .fullname{text-align:left;margin-bottom:5px}.ProfilePopupContainer--bellbird .profile-details .fullname a{color:#292f33;font-weight:700;font-size:22px}.ProfilePopupContainer--bellbird .profile-details .screen-name{color:#66757f;font-weight:400;font-size:14px}.ProfilePopupContainer--bellbird .profile-details .screen-name s{color:#66757f}.ProfilePopupContainer--bellbird .bio-container{margin:9px 0}.ProfilePopupContainer--bellbird .bio-container p{color:#292f33}.ProfilePopupContainer--bellbird .divider{color:#292f33}.ProfilePopupContainer--bellbird .go-to-profile{border-top:1px solid #e1e8ed}.ProfilePopupContainer--bellbird .go-to-profile .view-profile{display:inline-block;padding:14px 12px 14px 15px;font-weight:bold;font-size:14px}.ProfilePopupContainer--bellbird .badges{margin-left:5px}.ProfilePopupContainer--bellbird .badges .Icon{font-size:18px}.ProfilePopupContainer--bellbird .facepile a{float:left;margin-right:5px}.ProfilePopupContainer--bellbird .social-proof{padding-left:15px}.ProfilePopupContainer--bellbird .recent-tweets{margin-bottom:0}.ProfilePopupContainer--bellbird .recent-tweets .tweet{border-color:#e1e8ed}.ProfilePopupContainer--bellbird .recent-tweets .content{margin-left:61px}.ProfilePopupContainer--bellbird .recent-tweets .avatar{border-radius:5px;height:48px;margin-left:-60px;width:48px}.ProfilePopupContainer--bellbird .profile-details .profile-dialog-blocks-you{background-color:#f5f8fa;margin-top:20px;margin-left:-15px;margin-right:-15px;border-top:1px solid #e1e8ed}.ProfilePopupContainer--bellbird .profile-dialog-blocks-you-inner{padding:20px}.ProfilePopupContainer--bellbird .profile-dialog-blocks-you-inner p{color:#66757f;margin-top:12px}.ProfilePopupContainer--bellbird .blocks-you .user-actions-follow-button{display:none}.ProfilePrefilledTweet .ProfileTweet{border-radius:5px}.ProfilePrefilledTweet-tweetBtn{padding-left:20px;min-width:100px;padding-right:15px;position:relative}.ProfilePrefilledTweet-tweetBtn .btn,.ProfilePrefilledTweet.is-sending .ProfilePrefilledTweet-spinner{display:inline-block}.ProfilePrefilledTweet.is-sending .ProfilePrefilledTweet-spinner{position:absolute;margin-top:-7px;right:0;top:50%}.ProfileSidebar .ProfileHeaderCard,.ProfileSidebar .ProfileTweetbox,.ProfileSidebar .SignupCallOut,.ProfileSidebar .ProfileLifelineInfo,.ProfileSidebar .ProfileUserList,.ProfileSidebar .PhotoRail,.ProfileSidebar .WhoToFollow,.ProfileSidebar .EventFollowAll,.ProfileSidebar .Trends,.ProfileSidebar .Footer{padding-right:15px;padding-left:15px}.ProfileSidebar .ProfileTweetbox,.ProfileSidebar .SignupCallOut,.ProfileSidebar .ProfileLifelineInfo,.ProfileSidebar .ProfileUserList,.ProfileSidebar .PhotoRail,.ProfileSidebar .WhoToFollow,.ProfileSidebar .EventFollowAll,.ProfileSidebar .Trends,.ProfileSidebar .Footer{margin-top:20px}.ProfileSidebar .EventFollowAll+.ProfileWTFAndTrends{margin-top:10px}.ProfileSidebar .ProfileHeaderCard,.ProfileSidebar .ProfileUserList,.ProfileSidebar .PhotoRail{margin-bottom:25px}.ProfileSidebar .SignupCallOut,.ProfileSidebar .ProfileLifelineInfo,.ProfileSidebar .WhoToFollow,.ProfileSidebar .EventFollowAll,.ProfileSidebar .Trends{background-color:#fff;border:1px solid #e1e8ed;border-radius:5px;margin-top:10px;padding:15px}.ProfileSidebar .ProfileEventMatches{margin-top:10px}.ProfileSidebar .ProfileEventMatches .CurrentMatches-heading{padding-top:14px}.ProfileSidebar .ProfileEventMatches .CurrentMatches-headingText{color:#66757f;font-size:18px}.ProfileSidebar .ProfileEventMatches .MatchItem-teamName{padding:9px 0}.ProfileSidebar .trends-inner .flex-module{border:0}.ProfileSidebar .flex-module-header h3{font-size:18px;color:#292f33;font-weight:inherit}.ProfileSidebar .flex-module-header{margin-bottom:15px}.ProfileSidebar .Footer{border-radius:0;border:0}.ProfileSidebar .Footer .flex-module{padding:0;text-align:left;background:0;line-height:1;border:0}.ProfileSidebar .Footer-item,.ProfileSidebar .Footer-link{color:#ccd6dd}.ProfileSidebar .Footer:hover .Footer-link{color:#3b88c8}.ProfileSidebar .Footer ul,.ProfileSidebar .Footer-item{line-height:1}.ProfileSidebar--permalinkSidebar .Footer{border-top:1px solid #e1e8ed;padding-top:20px}.ProfileTweetbox{border-radius:5px;border-style:solid;border-width:1px;padding:15px}.ProfileTweetbox .tweet-box{padding:11px;font-size:14px;color:#8899a6}.ProfileTweetbox .Icon--geo{margin:0}.ProfileTweetbox .photo-selector .text{display:none}.ProfileTweetbox .condensed .tweet-box{padding-right:30px}.ProfileTweetbox .tweet-action{background-image:none;text-shadow:none}.ProfileUserList-heading{color:#8899a6;margin-bottom:13px}.ProfileUserList-title{font-size:14px;line-height:1}.ProfileUserList-name .Icon{min-width:18px}.ProfileUserList-description{font-size:12px;line-height:16px;margin-top:6px}.ProfileUserList-details{font-size:12px;margin-top:5px}.ProfileUserList-actions button:hover{text-decoration:underline}.ProfileUserList-linkDivider{padding:0 1px}.ProfileUserList-subscribeAction.is-subscribed .ProfileUserList-subscribeText,.ProfileUserList-subscribeAction.is-unsubscribed .ProfileUserList-removeText{display:none}.ProfileUserList-facepile{margin:-5px -5px 0}.ProfileUserList-facepileItem{float:left;margin:5px 0 0 5px}.ProfileUserList-footer{margin-top:5px;font-size:12px}.ProfileUserList .Avatar{border-radius:4px}.ProtectedTimeline{margin:35px 0 35px 15px}.ProtectedTimeline-heading{color:#66757f;font-size:22px;font-weight:300;margin-bottom:15px}.ProtectedTimeline-explanation{color:#66757f}.ScrollBump{margin:30px 0}.ScrollBump-header{margin-bottom:10px;margin-left:16px}.ScrollBump-title{color:#66757f;font-size:13px;padding-left:22px;position:relative}.ScrollBump-title a,.ScrollBump-title a:hover,.ScrollBump-title a:focus,.ScrollBump-title a:active{color:#0084b4}.ScrollBump-title .Icon{left:0;position:absolute;top:-1px}.ScrollBumpDialog .modal-body{padding:0;overflow-y:scroll;border-bottom-left-radius:6px;border-bottom-right-radius:6px}.ScrollBumpDialog-usersList{margin-left:0;list-style:none}.ScrollBumpDialog .stream-item:last-child .account{border-bottom:0}.StreamItem{position:relative}.StreamToggler-item{display:inline-block}.StreamToggler-link{color:#ccd6dd;display:block;font-size:18px;font-weight:400;line-height:1;padding:15px 15px 12px}.StreamToggler-link.is-active,.StreamToggler-link.is-active:hover,.StreamToggler-link.is-active:focus{color:#292f33;cursor:default;font-weight:500;text-decoration:none}.Trends{text-shadow:none;border:0;position:inherit;margin-bottom:0;line-height:inherit;border-radius:0;background-clip:inherit}.Trends .flex-module{background-color:inherit;line-height:inherit;padding:0}.Trends .flex-module-header{margin-bottom:10px}.Trends .trend-location{font-weight:300}.Trends .trend-item{font-size:13px}.Trends--wide{border:0;margin-bottom:10px}.Trends--wide .flex-module{background-color:#FFF;padding:15px 40px}.Trends--wide .flex-module-header h3{display:block}.Trends--wide .flex-module-header .middot{display:none}.Trends--wide .flex-module-header .change-trends{display:none}.Trends--wide li{display:inline;padding-right:15px;white-space:normal}.Trends--wide .trend-item{font-size:12px}.Trends--wide .promoted-text{font-size:12px}.Trends--wide .promoted .with-icn{display:inline}.Trends .context-trend-item .trend-item-context{max-height:34px}.TwitterMultiPhoto-image{position:absolute;cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in;overflow:hidden}.TwitterMultiPhoto-image img{position:absolute}.TwitterMultiPhoto-collection{overflow:hidden;border-radius:5px}.TwitterMultiPhoto-collection--count1 .TwitterMultiPhoto-image--1{top:0;bottom:0;left:0;right:0}.TwitterMultiPhoto-collection--count2 .TwitterMultiPhoto-image--1{top:0;bottom:0;left:0;right:50.5%}.TwitterMultiPhoto-collection--count2 .TwitterMultiPhoto-image--2{top:0;bottom:0;left:50.5%;right:0}.TwitterMultiPhoto-collection--count3 .TwitterMultiPhoto-image--1{top:0;bottom:0;left:0;right:50.5%}.TwitterMultiPhoto-collection--count3 .TwitterMultiPhoto-image--2{top:0;bottom:51%;left:50.5%;right:0}.TwitterMultiPhoto-collection--count3 .TwitterMultiPhoto-image--3{top:51%;bottom:0;left:50.5%;right:0}.TwitterMultiPhoto-collection--count4 .TwitterMultiPhoto-image--1{top:0;bottom:51%;left:0;right:50.5%}.TwitterMultiPhoto-collection--count4 .TwitterMultiPhoto-image--2{top:0;bottom:51%;left:50.5%;right:0}.TwitterMultiPhoto-collection--count4 .TwitterMultiPhoto-image--3{top:51%;bottom:0;left:0;right:50.5%}.TwitterMultiPhoto-collection--count4 .TwitterMultiPhoto-image--4{top:51%;bottom:0;left:50.5%;right:0}.UserActions .user-actions .dropdown-menu{right: 0px;margin-top:4px}.UserActions .user-actions .dropdown.open button{border-color:transparent}.UserActions-moreActions{padding-right:4px;min-height:29px}.UserActions-moreActions>*{vertical-align:baseline}.UserActions-editButton{padding-top:9px;padding-bottom:9px}.UserActions .user-dropdown{color:#8899a6;padding-top:2px}.UserActions--small .user-dropdown{padding-top:0}.UserActions--withheld .user-actions{display:none}.UserActions--withheld .user-actions.following,.UserActions--withheld .user-actions.pending{display:block}.WhoToFollow{display:none;font-size:12px}.WhoToFollow.is-visible{display:block}.WhoToFollow-header{margin-bottom:15px}.WhoToFollow-title{color:#66757f;display:inline-block;font-size:18px;font-weight:300;line-height:1}.WhoToFollow-users>.account-summary{margin-bottom:15px}.WhoToFollow-users .fullname{color:#292f33;font-size:13px}.WhoToFollow-users .username{color:#8899a6}.EventCanopy-addHeaderCalloutContainer{position:absolute;text-align:center;width:100%}.EventCanopy-addHeaderCalloutContainer--large{bottom:105px}.EventCanopy-addHeaderCalloutContainer--small{bottom:50px}.EventCanopy-addHeaderCallout{background:transparent;color:#fff;display:inline-block;font-size:52px;font-weight:700;text-shadow:0 1px 2px #000}.EventCanopy-attribution{bottom:20px;text-shadow:1px 1px 8px #292f33;color:#fff;left:0;position:absolute}.EventCanopy-cardHeader{color:#292f33;font-size:18px;font-weight:700;padding-left:15px;padding-top:18px}.EventCanopy-scoreboard{padding-top:15px}.EventCanopy-scoreboardLogo{border-radius:3px;height:24px;position:relative;top:2px}.EventCanopy-scoreboardVs,.EventCanopy-scoreboardDash{color:#66757f;font-size:18px;font-weight:500}.EventCanopy-scoreboardVs{padding:0 15px}.EventCanopy-scoreboardScore{padding:0 10px;white-space:nowrap}.EventCanopy-scoreboardStatus{color:#66757f;padding-left:15px}.EventPage{background-image:none!important;background-color:#f5f8fa!important;line-height:1.375;min-width:936px}.EventPage .AppContent{padding:46px 0 0}.EventPage .ProfileCanopy-navBar .NewTweetButton{float:right;margin-right:15px;margin-top:11px}.EventPage .new-tweets-bar{background-color:#fff;border-bottom:0;top:0}.EventPage .new-tweets-bar:hover{background-color:#f5f8fa}.EventPage .ProfileTweet-context .Icon{color:#8899a6}.EventPage.de .EventCanopy-scoreboardStatus--isFinal,.EventPage.ru .EventCanopy-scoreboardStatus--isFinal{display:none}@media(max-width:1110px){.EventPage .EventCanopy-scoreboardStatus{display:none}.EventPage.ru .NewTweetButton{font-size:12px}}.EventNav-label{font-weight:500;color:#292f33;font-size:18px}.EventNav-stat{height:60px;-moz-box-sizing:border-box;box-sizing:border-box;border-bottom:0 solid;display:block;line-height:1;padding:21px 15px 7px;transition:all .15s ease-in-out}.EventFollowAll{padding:20px}.EventFollowAll-heading{font-size:24px;font-weight:300;padding:10px 0 0}.EventFollowAll-content{color:#66757f;padding:10px 0 20px 0}.EventFollowAll-footer{border-top:1px solid #e1e8ed;margin:0 -15px;padding:20px 20px 10px}.EventFollowAll-action .follow-button{min-width:140px}.EventPeopleModule-heading{font-size:14px;line-height:1;margin:20px 0 5px 15px}.EventPeopleModule-heading .Icon{color:#8899a6}.EventPeopleModule-memberList{margin:0 0 4px 15px}.EventPeopleModule-member{float:left;margin:5px 5px 0 0}.SearchOneBox-bannerContainer{border-radius:5px;height:190px;overflow:hidden}.SearchOneBox-headline{font-weight:bold;margin-bottom:10px}.SearchOneBox-description{margin-top:12px}.SearchOneBox-cta{margin-left:10px;white-space:nowrap}.CurrentMatches--withBackground{background-color:#fff;border:1px solid #e1e8ed;border-radius:5px}.CurrentMatches--withBackground .CurrentMatches-heading{border-bottom:1px solid #e1e8ed;margin:0;padding:13px 15px}.CurrentMatches--withBackground .CurrentMatches-headingText{font-size:20px;font-weight:300}.CurrentMatches--withBackground .CurrentMatches-undismiss{border-top:0;margin:0;padding:10px 15px}.CurrentMatches--withBackground .MatchItem:last-child{border-bottom:0}.CurrentMatches--withBackground .CurrentMatches-footer{margin:0;padding:12px 15px 15px 15px}.CurrentMatches--withBackground .MatchItem-viewMatch:hover{text-decoration:none}.CurrentMatches--withBackground .MatchItem-viewMatch{color:#292f33;font-weight:bold;margin-top:10px;padding-top:8px}.CurrentMatches-heading{margin:0 15px;padding:24px 0 0 0}.CurrentMatches-headingText{color:#292f33;font-size:22px;font-weight:700;line-height:1}.CurrentMatches-footer{color:#66757f;background-color:#f5f8fa;border-radius:0 0 5px 5px;border-top:1px solid #e1e8ed;font-size:14px;line-height:16px;margin:0 15px;padding:12px 0 15px 0}.CurrentMatches-footer a{display:inline-block;margin-top:3px}.CurrentMatches-footer .btn{font-size:13px;padding:4px 12px;margin-top:10px;font-weight:500}.CurrentMatches-dismiss{color:#ccd6dd;float:right;position:relative;top:2px}.CurrentMatches-dismiss:hover{color:#66757f}.CurrentMatches-undismiss{border:solid #e1e8ed;border-width:1px 0;display:none;margin:15px 15px 0 15px;padding:10px 0}.CurrentMatches-undismissIcon{color:#66757f;padding-right:10px}.CurrentMatches-undismissText,.CurrentMatches-leagueLinkText{position:relative;top:1px}.CurrentMatches-leagueLink{border-bottom:1px solid #e1e8ed;margin:0 15px;padding:10px 0}.CurrentMatches-leagueLinkIcon{color:#8899a6;padding-right:5px}.CurrentMatches .MatchItem{margin:0 15px;padding-bottom:15px}.CurrentMatches--withBackground .MatchItem{margin:0;padding:0 15px 15px 15px}.MatchItem{border-bottom:1px solid #e1e8ed}.MatchItem:hover{background-color:#f5f8fa}.MatchItem-time{color:#66757f;font-size:14px;font-weight:400;padding:15px 0 6px 0}.MatchItem-live{background-color:#dd2e44;border-radius:3px;color:#fff;font-size:11px;margin-right:7px;padding:1px 4px;text-transform:uppercase}.MatchItem-status{vertical-align:middle}.MatchItem-teams{width:100%}.MatchItem-logoContainer{width:56px}.MatchItem-logoImg{border-radius:3px;height:24px}.MatchItem-teamName{color:#292f33;font-size:18px;font-weight:700;padding:6px 0;width:124px}.MatchItem-teamName--withLongName{font-size:16px;line-height:18px}.MatchItem-scoreContainer{width:80px;white-space:nowrap}.MatchItem-score{color:#66757f;font-size:18px;font-weight:500;margin:0 15px}.MatchItem-viewMatch{font-size:13px;font-weight:400;padding-top:6px}.MatchItem-viewMatch:hover{text-decoration:underline}.AdaptiveFiltersDropdown.dropdown-menu{border-top-left-radius:0;border-top-right-radius:0;padding:8px 0;margin-top:4px;text-align:left}.AdaptiveFiltersDropdown.dropdown-menu li>.AdaptiveFiltersDropdown-target{color:#66757f;padding-left:10px;padding-right:30px}.AdaptiveFiltersDropdown.dropdown-menu li>.AdaptiveFiltersDropdown-target:hover,.AdaptiveFiltersDropdown.dropdown-menu li>.AdaptiveFiltersDropdown-target:focus{background-color:#55acee;color:#fff}.AdaptiveFiltersDropdown.dropdown-menu li>.AdaptiveFiltersDropdown-target--advanced{color:#55acee;font-weight:bold}.AdaptiveFiltersDropdown-label{padding-left:20px}.AdaptiveFiltersDropdown-label.is-selected{padding-left:8px}.AdaptiveFiltersDropdown-checkIcon{color:#55acee}.AdaptiveFiltersDropdown-target:hover .AdaptiveFiltersDropdown-checkIcon{color:#fff}.AdaptiveNewsPage{background-color:#f5f8fa!important;background-image:none!important}.AdaptiveNewsPage.three-col .wrapper{width:100%}.AdaptiveNewsPage .AppContainer{max-width:100%}.AdaptiveNewsPage .AppContent{min-width:1236px;padding-left:0;padding-right:0;padding-top:46px}.AdaptiveNewsPage .AppContent-main{max-width:1190px;margin:15px auto 0}.AdaptiveNewsPage.three-col .content-main{float:none;margin:0}.AdaptiveNewsPage .content-header h3{font-size:18px}.AdaptiveNewsPage-module{background-color:#fff;border:1px solid #e1e8ed;border-radius:6px;margin-bottom:10px;overflow:hidden}.AdaptiveNewsPage-moduleHeader{line-height:1;padding:15px;position:relative}.AdaptiveNewsPage-moduleLink{color:#55acee;font-size:18px;font-weight:300}.AdaptiveNewsPage .ProfileSidebar .WhoToFollow{margin-bottom:10px;margin-top:0}.AdaptiveNewsPage .ProfileSidebar .Trends{margin-top:0}.AdaptiveNewsTitle{background-color:#55acee;padding:20px 0}.AdaptiveNewsTitle-title{color:#fff;font-size:28px;line-height:1;text-align:center}.AdaptiveNewsFilters{background-color:#fff;box-shadow:1px 1px 1px #aab8c2}.AdaptiveNewsFilters-nav{text-align:center}.AdaptiveNewsFilters-item{border-bottom:0 solid #55acee;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;height:38px;transition:all .15s ease}.AdaptiveNewsFilters-item:hover,.AdaptiveNewsFilters-item:focus,.AdaptiveNewsFilters-item.is-selected{border-bottom-width:4px;border-bottom-color:#55acee}.AdaptiveNewsFilters-item--more{vertical-align:top}.AdaptiveNewsFilters-target{color:#55acee;display:block;padding:10px 0}.AdaptiveNewsFilters-target--link{text-decoration:none}.AdaptiveNewsFilters-target--link:hover,.AdaptiveNewsFilters-target--link:focus{text-decoration:none}.AdaptiveNewsFilters-target--more{padding:10px 25px 6px}.AdaptiveNewsFilters-target--more:focus{outline:0}.AdaptiveNewsFilters-label{border-right:1px solid #ccd6dd;padding-left:25px;padding-right:25px}.AdaptiveNewsFilters-moreCaretIcon{font-size:8px;line-height:8px}.AdaptiveNewsImageHeadline{height:290px;position:relative}.AdaptiveNewsImageHeadline-backgroundImage{background-size:cover;display:block;height:100%;width:588px}.AdaptiveNewsImageHeadline-overlay{background-color:#fff;height:100%;position:absolute;right:0;top:0;width:300px;z-index:1}.AdaptiveNewsImageHeadline-headlineContainer{padding:20px 15px 15px}.AdaptiveNewsImageHeadline-headline{display:inline-block;font-size:28px;font-weight:300;line-height:36px;max-height:144px;word-wrap:break-word;overflow:hidden}.AdaptiveNewsImageHeadline-headline,.AdaptiveNewsImageHeadline-headline:focus,.AdaptiveNewsImageHeadline-headline:hover{color:#292f33}.AdaptiveNewsImageHeadline .AdaptiveNewsHeadlineHelp{position:absolute;right:12px;top:12px}.AdaptiveNewsImageHeadline .AdaptiveNewsHeadlineDetails{bottom:0;position:absolute}.AdaptiveNewsImageHeadline .AdaptiveNewsHeadlineDetails-user,.AdaptiveNewsImageHeadline .AdaptiveNewsHeadlineDetails-user:focus,.AdaptiveNewsImageHeadline .AdaptiveNewsHeadlineDetails-user:hover{color:#292f33}.AdaptiveNewsImageHeadline .AdaptiveNewsHeadlineDetails-date,.AdaptiveNewsImageHeadline .AdaptiveNewsHeadlineDetails-date:focus,.AdaptiveNewsImageHeadline .AdaptiveNewsHeadlineDetails-date:hover{color:#8899a6}.AdaptiveNewsTextHeadline{height:290px;position:relative}.AdaptiveNewsTextHeadline-body{font-weight:300;padding:17px 105px 0 15px}.AdaptiveNewsTextHeadline-headline{display:inline-block;font-size:36px;line-height:48px;margin-bottom:2px;max-height:96px;overflow:hidden}.AdaptiveNewsTextHeadline-headline,.AdaptiveNewsTextHeadline-headline:focus,.AdaptiveNewsTextHeadline-headline:hover{color:#292f33}.AdaptiveNewsTextHeadline-description{color:#66757f;font-size:16px;line-height:26px;max-height:52px;overflow:hidden}.AdaptiveNewsTextHeadline .AdaptiveNewsHeadlineHelp{position:absolute;right:12px;top:12px}.AdaptiveNewsTextHeadline .AdaptiveNewsHeadlineDetails{bottom:0;position:absolute}.AdaptiveNewsTextHeadline .AdaptiveNewsHeadlineDetails-user,.AdaptiveNewsTextHeadline .AdaptiveNewsHeadlineDetails-user:focus,.AdaptiveNewsTextHeadline .AdaptiveNewsHeadlineDetails-user:hover{color:#292f33}.AdaptiveNewsTextHeadline .AdaptiveNewsHeadlineDetails-date,.AdaptiveNewsTextHeadline .AdaptiveNewsHeadlineDetails-date:focus,.AdaptiveNewsTextHeadline .AdaptiveNewsHeadlineDetails-date:hover{color:#8899a6}.AdaptiveNewsHeadlineDetails{display:table;font-size:12px;width:100%}.AdaptiveNewsHeadlineDetails-userContainer,.AdaptiveNewsHeadlineDetails-dateContainer{display:table-cell;padding:15px;vertical-align:middle}.AdaptiveNewsHeadlineDetails-user,.AdaptiveNewsHeadlineDetails-date{display:inline-block;line-height:14px}.AdaptiveNewsHeadlineDetails-userContainer{padding-right:0;text-align:left}.AdaptiveNewsHeadlineDetails-user{max-width:185px}.AdaptiveNewsHeadlineDetails-userImage{height:16px;margin-right:5px;position:relative;top:4px}.AdaptiveNewsHeadlineDetails-userName{font-weight:bold;max-width:200px}.AdaptiveNewsHeadlineDetails-dateContainer{padding-left:0;text-align:right}.AdaptiveNewsHeadlineHelp{background-color:#8899a6;border-radius:50%;color:#fff;cursor:pointer;font-size:12px;height:18px;line-height:18px;text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:18px}.AdaptiveNewsHelpDialog-escapeLink{color:#55acee;line-height:35px}.AdaptiveNewsImageGallery{border:1px solid #e1e8ed;height:290px}.AdaptiveNewsImageGallery-images{font-size:0;height:231px;padding:0 15px 15px 15px}.AdaptiveNewsImageGallery-images .AdaptiveNewsImageGalleryItem--large{margin-bottom:1px}.AdaptiveNewsImageGallery-images .AdaptiveNewsImageGalleryItem--small{margin-left:1px}.AdaptiveNewsImageGallery-images .AdaptiveNewsImageGalleryItem--small:nth-child(2){margin-left:0}.AdaptiveNewsImageGalleryItem{background-size:cover;cursor:pointer;display:inline-block;vertical-align:top}.AdaptiveNewsImageGalleryItem--large{height:154px;width:258px}.AdaptiveNewsImageGalleryItem--small{height:76px;width:85px}.AdaptiveNewsImageGalleryItem--small:nth-child(2){width:86px}.AdaptiveNewsImageGalleryItem--hidden{display:none}.AdaptiveNewsUserGallery{height:290px}.AdaptiveNewsUserGallery-user{border-top:1px solid #e1e8ed;height:100px;margin:0 15px 15px;padding-top:15px}.AdaptiveNewsUserGallery-user:first-child{border-top:0;margin-top:0;padding-top:0}.AdaptiveNewsUserGallery-userHeader{position:relative}.AdaptiveNewsUserGallery-userLinkable{display:inline-block}.AdaptiveNewsUserGallery-userLinkable:hover{text-decoration:none}.AdaptiveNewsUserGallery-userImage{border-radius:5px;width:36px}.AdaptiveNewsUserGallery-userTitle{display:inline-block;padding-left:5px;vertical-align:top}.AdaptiveNewsUserGallery-userFullName{color:#292f33;font-size:15px;font-weight:bold}.AdaptiveNewsUserGallery-userLinkable:hover .AdaptiveNewsUserGallery-userFullName{color:inherit;text-decoration:underline}.AdaptiveNewsUserGallery-userScreenName{color:#8899a6;font-size:13px}.AdaptiveNewsUserGallery-userFullName,.AdaptiveNewsUserGallery-userScreenName{display:inline-block;max-width:150px;vertical-align:top}.AdaptiveNewsUserGallery-userActions{position:absolute;right:0;top:4px}.AdaptiveNewsUserGallery-followButton{font-size:18px;padding:1px 8px 3px}.AdaptiveNewsUserGallery-followButton .Icon{color:inherit;padding:0}.AdaptiveNewsUserGallery-followButton .Icon--follow{color:#55acee}.AdaptiveNewsUserGallery-followButton .Icon--clock,.AdaptiveNewsUserGallery-followButton:hover .Icon--clock,.AdaptiveNewsUserGallery-followButton:hover .Icon--report{color:#66757f}.AdaptiveNewsUserGallery-userActions .Icon,.AdaptiveNewsUserGallery-userActions.following:hover .cancel-hover-style .Icon--unfollow,.AdaptiveNewsUserGallery-userActions.pending:hover .cancel-hover-style .Icon--report,.AdaptiveNewsUserGallery-userActions.following:hover .Icon--following,.AdaptiveNewsUserGallery-userActions.pending:hover .Icon--clock{display:none}.AdaptiveNewsUserGallery-userActions.not-following .Icon--follow,.AdaptiveNewsUserGallery-userActions.following .Icon--following,.AdaptiveNewsUserGallery-userActions.pending .Icon--clock,.AdaptiveNewsUserGallery-userActions.following:hover .cancel-hover-style .Icon--following,.AdaptiveNewsUserGallery-userActions.pending:hover .cancel-hover-style .Icon--clock,.AdaptiveNewsUserGallery-userActions.following:hover .Icon--unfollow,.AdaptiveNewsUserGallery-userActions.pending:hover .Icon--report{display:inline-block}.AdaptiveNewsUserGallery-userDescription{color:#8899a6;max-height:54px;overflow:hidden;padding-top:5px}.AdaptiveNewsRelatedSearches{padding:15px 15px 0 15px}.AdaptiveNewsRelatedSearches-title{color:#66757f;font-size:18px;font-weight:300}.AdaptiveNewsRelatedSearches-items{margin-top:15px}.AdaptiveNewsRelatedSearches-item{line-height:1.7}
  
  .notificationPanel {
  		width: 430px;
height: 430px;
overflow-y: scroll;

  		/* border: 1px solid rgba(0, 0, 0, 0.4); */    
  		-webkit-box-shadow: 0 3px 8px rgba(179, 179, 179, 0.25);
padding-top: 10px;
   }
  .friendRequestsPanel {
  		width: 430px;
height: 430px;
overflow-y: scroll;
border: 5px solid;
padding-top: 10px;
   } 
   .button-right {
   			display: block;
   
   			margin-top: 0px;
}
   
   .fr-ac {
   		display: inline-block;
   	
   		color: white !important;
   		background-color: rgb(53, 167, 238) !important;
   		margin-right: 10px;
}
   	
   	.fr-rj {
   		display: inline-block;
   	
   		background-color: rgb(223, 223, 223) !important;
   		color: rgb(84, 84, 84) !important;
}

.pac-container {
	z-index: 10000;
}

.comment-bottom-label {
	margin-right: 10px;
}
   
.modal {
  overflow-y: auto;
}
/* custom class to add space for scrollbar */
.modal-scrollbar {
    margin-right: 20px !important;
}
.error-modal-body {
	padding: 15px;
}
#update-location {
	width: 100%;
}
.NotificationTimestamp {
	display :block;
	white-space: nowrap;
}

.comment-remove-action {
  display: block;
  color: rgb(165, 167, 167);
  float: right;
  position: relative;
  top: -10px;
}

.top-dropdown-panel {
	/* border-bottom: 1px solid #66757F; */
    display: block;
    margin: 0;
    
	font-size: 12px;
    
	background-color: #FDFDFD;
    
	color: rgba(147, 147, 147, 1);
    
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    padding-left: 5px;
    padding-top: 3px;
    position: fixed;
    
	width: 425px;
    z-index: 100000;
    top: 42px;
}

.relationship-header {
 	display: inline;
 	float: right;
}

.header-inner h2 {
	display: inline !important;
}

.header-inner span {
	display:inline;
}

.header-inner .wicket-ajax-indicator {
	display : none;
}

.is-preview img {
	border: 1px solid rgba(255, 255, 255, 0.4);
  
	-webkit-box-shadow: 0 1px 3px rgba(144, 143, 143, 0.25);
	border-radius: 4px;
}	

.lonely-module {
  background-color: #fff;
  padding: 15px;
  line-height: 16px;
  box-shadow: 0 0 1px #999;
}

 body.modal-open-noscroll
    {
        margin-right: 0!important;
        overflow: hidden;
    }
    .modal-open-noscroll .navbar-fixed-top, .modal-open .navbar-fixed-bottom
    {
          margin-right: 0!important;
    }
