<wicket:panel>
<div class="stream-item-wrapper tweet-item">
   <div class="tweet-body"> 
   <div class="profile-link tweet-image">
   <img wicket:id="image" class="avatar" src="//pbs.twimg.com/profile_images/1112315797/pandora_reasonably_small.jpg">
   </div> 
   <div class="tweet-content"> 
   <div class="tweet-row"> 
   <div class="user-name"> 
   <span wicket:id="name" class="full-name"> Eghosa Omoigui </span> 
   <span class="screen-name"> <s>@</s><wicket:container wicket:id="username" /> </span> 
   </div>  <div class="extra-icons"> 
   <i class="extra-icon translate-icon"></i> 
   <i class="extra-icon reply-icon icon"></i> 
   <i class="extra-icon inlinemedia-icons summary"></i> 
   <i class="extra-icon geo-pin"></i> </div>   
   <div wicket:id="time" class="timestamp" timestamp="1431430210000"> 2h </div>  
   </div> <div class="tweet-text"> 
   <div class="tweet-text-inner"> 
   <div wicket:id="details" class="dir-ltr" dir="ltr">Verizon Buys $AOL: $4.4b <a href="http://t.co/zS6KiFx5Zj" class="twitter-timeline-link activeLink dir-ltr tco-link" data-url="http://on.wsj.com/1Fb1tsQ" dir="ltr" rel="nofollow" target="_blank">on.wsj.com/1Fb1tsQ</a> shoulda been a great buy for $yhoo. But woulda required more vision than avail on-tap. Sigh.</div>    
   </div>
   </div>   
   </div> 
   </div> 
   </div>
</wicket:panel>