<wicket:extend>
<div class="profile"> 
<div wicket:id="overview">   </div> 
<div class="profile-content">  <div class="tweet-stream module" wicket:id="timeline">   </div>
</div> 
</div>
</wicket:extend>