<wicket:panel>
	<div class="social-context">
    <span class="social-context-text">
        <span class="fa fa-hand-o-right" style="margin-right: 10px;"></span>
        <a wicket:id="link" class="u-textInheritColor" href="/Gidi_Traffic"><span wicket:id="name"></span></a> nominated <a wicket:id="others"> <span wicket:id="others-label"></span></a> &nbsp;
    </span>
  </div>
</wicket:panel>
Folarin nominated target and others in this post