<wicket:panel>
	<div class="social-context">
    <span class="social-context-text">
         <span class="fa fa-hand-o-right" style="margin-right: 10px;"></span>
        <a wicket:id="link" class="u-textInheritColor" href="/Gidi_Traffic"><span wicket:id="name"></span></a><a wicket:id="others"> and others </a> <wicket:container wicket:id="action"></wicket:container>&nbsp;
    </span>
  </div>
</wicket:panel>