<wicket:panel>
	<div class="social-context">
    <span class="social-context-text">
       <span class="fa fa-random" style="margin-right: 10px;"></span>
       <wicket:container wicket:id="action"></wicket:container>&nbsp;<a wicket:id="others"> view all </a> 
    </span>
  </div>
</wicket:panel>