<wicket:panel>
	<div class="profile-overview"> 
		<div class="basics" style=""> 
		<div class="user"> 
		<img wicket:id="image" src="//pbs.twimg.com/profile_images/570007351592112128/OzX0PBYo_reasonably_small.png" width="128" class="avatar activeLink" href="/Errandr/photo"> 
		<div class="user-info"> 
		<div class="full-name"> 
		<h2 class="full-name-h2 userselect"> 
		<span wicket:id="name" class="text"> Folarin Omotoriogun 
		</span> 
		</h2> 
		</div> 
		<div class="screen-name userselect"> 
		<s>@</s> <wicket:container wicket:id="username" />
		</div> 
		</div>  
		</div> 
		<div class="bio"> 
		<div class="description userselect"> 
		<div wicket:id="bio" class="dir-ltr" dir="ltr">Thinker and Software Engineer</div> 
		</div> 
		<div wicket:id="location" class="location userselect">  
		</div> 
		<div class="url" style="display:none"> 
		<div class="dir-ltr" dir="ltr">
		<a href="http://t.co/FHfmOwVcq0" class="twitter-timeline-link activeLink dir-ltr tco-link" data-url="http://www.erranda.com" dir="ltr" rel="nofollow" target="_blank">erranda.com</a>
		</div> 
		  </div>
		  </div> 
		  </div>
		  <div class="auxiliary"> 
		  <div class="profile-actions"> 
		  <button class="button profile-actions-button" data-action="showAccountSettings"> 
		  <i class="button-icon gear"></i> 
		  </button> 
		  <div class="flexible-space"></div> 
		  <a class="button direct-messages activeLink" href="/messages"> 
		  <i class="button-icon envelope"></i> 
		  <div class="unread-count-container" style="display: inline-block;">
		  <div class="count">1</div>
		  </div> 
		  </a> 
		  </div>
		  </div>
		  <div class="module stats-lists"> 
		  <ul>
		  <li class="profile-menu-item"> 
		  <a wicket:id="timeline" href="/Errandr/followings" class="link-item"> 
		  <div class="link-text"> Timeline
		  </div>
		  <div class="arrow-box"> 
		  <i class="dark-arrow"></i> 
		  </div>
		  </a>
		  </li>
		  <li class="profile-menu-item"> 
		  <a wicket:id="following" href="/Errandr/followings" class="link-item"> 
		  <div class="link-text"> Following
		   	<wicket:container wicket:id="count-following" /> 
		  </div>
		  <div class="arrow-box"> 
		  <i class="dark-arrow"></i> 
		  </div>
		  </a>
		  </li>
		  <li class="profile-menu-item"> 
		  <a wicket:id="followers" href="/Errandr/followers" class="link-item">
		  <div class="link-text"> Followers 
		  <wicket:container wicket:id="count-followers" /> 
		  </div>
		  <div class="arrow-box"> <i class="dark-arrow"></i> 
		  </div>
		  </a>
		  </li>
		  <li class="profile-menu-item">
		  <a wicket:id="friends" href="/Errandr/favorites" class="link-item">
		  <div class="link-text"> Friends 
		  <wicket:container wicket:id="count-friends" /> 
		  </div>
		  <div class="arrow-box"> 
		  <i class="dark-arrow"></i>
		  
		  </div></a>
		  </li>
		  </ul> 
		  </div>
		  </div>
</wicket:panel>