<wicket:panel>
	<form wicket:id="switch-account-form" style="
    width: 50%; margin: 10px auto;display: block;
">
		<label style="
    float: left;
    position: relative;
    top: -10px;
    margin-right: 10px;
    color: rgb(124, 127, 129);
">
			<span class="fa fa-at fa-4x"></span>
		</label>
		<select wicket:id="switch-account-select" style="
   margin: 0 auto; padding: 10;float: left;
">
		
		</select>
		<button class="visuallyHidden" wicket:id="submit" type="submit">Submit</button>
		<span wicket:id="static-feedback" style="display:none; width: 100%; clear: both">Now signing you in...</span>
	</form>
	
</wicket:panel>