<wicket:panel>

<div role="main" aria-labelledby="content-main-heading" style="height: 70%;display: block;overflow: auto;">
  <div class="content-inner no-stream-end">
      <span wicket:id="profile"></span>
      <span wicket:id="password"></span>
      <span wicket:id="location"></span>
      <hr>
   <div class="control-group">
        <div class="controls">
         <p><a style="font-size:smaller" wicket:id="block-list">Block List</a></p>
          <p><a style="font-size:smaller" wicket:id="deactivate-link">Deactivate my account</a></p>
           
        </div>
      </div>
  </div>
</div>

</wicket:panel>