<wicket:panel>
    <form wicket:id="form" class="t1-form form-horizontal requires-password" autocomplete="off" style="margin: 20px">
      <div style="margin-top: 10px;" id="username_fieldset" class="control-group">
        <label for="user_screen_name" class="t1-label control-label">Page location</label>
        <div class="controls">
        <p id="username_notification" class="notification"></p>
         <input id="user-location" wicket:id="user-location" type="text">
        </div>
        
      </div>
    <div style="margin-top: 10px;" id="username_fieldset" class="control-group">
        <label for="user_screen_name" class="t1-label control-label">Full page name</label>
        <div class="controls">
        <p id="username_notification" class="notification"></p>
         <input wicket:id="page-name" type="text" placeholder="Enter page name">
        </div>
      </div>

      <div id="username_fieldset" class="control-group">
        <label for="user_screen_name" class="t1-label control-label">Page Username</label>
        <div class="controls">
          <p id="username_notification" class="notification"></p>
          <input wicket:id="username" id="user_screen_name" name="user[screen_name]" type="text" value="Withinet" placeholder="Enter short page name">
        </div>
      </div>
  <div class="control-group">
  <label for="bio" class="t1-label control-label">Interests</label>
  <div class="controls">  
  <p id="username_notification" class="notification"></p>
<textarea wicket:id="bio" id="bio" spellcheck="true" role="textbox" aria-multiline="true" style="
    min-height: 80px; max-width: 210px;
" placeholder="Things you care about..."></textarea>
</div>
</div>

      <div id="email_fieldset" class="control-group">
        <label for="user_email" class="t1-label control-label">Phone number</label>
        <div class="controls">
          <p id="email_notification" class="notification"></p>
          <input wicket:id="phone-number" id="user_email" class="email-input" name="user[email]" type="text" placeholder="Enter phone number">
          <p style="
    font-size: smaller;
">Phone number will be publicly displayed</p>
        </div>
      </div>
      <div id="email_fieldset" class="control-group">
        <label for="user_email" class="t1-label control-label">Page Administrators</label>
        <div class="controls">
          <p id="email_notification" class="notification"></p>
          <input placeholder="People in your network" wicket:id="tags" type="hidden" style="min-height: 30px;
         width:210px;">
        </div>
      </div>
<span wicket:id="feedback"></span>
      <div class="form-actions">
  <button wicket:id="submit" class="btn primary-btn tweet-action tweet-btn js-tweet-btn" type="submit">Add Page</button>
  <span class="spinner-small settings-save-spinner"></span>
</div>
      
    </form>
    <script type="text/javascript">

   $(function () {
      $("#user-location").geocomplete();
    });
    
</script>
</wicket:panel>