<wicket:panel>
      
    <li class="current-user" data-name="profile" style="
    /* padding: 20px; */
">
      <wicket:link>
   				<img id="modal-ajax" src="generic-ajax.gif" style = "margin: 100px auto ; width: 200px; height: 200px; display :block"/>
   		  </wicket:link></li>
</wicket:panel>