

<wicket:panel>
<div class="intro-modal-body">
	<ul>
		<li><a wicket:id="business-page-link"><span wicket:id="label"></span></a></li>
		<li>Share your page</li>
		<li><span wicket:id="share-page"></span></li>
	</ul>
</div>
  <div class="modal-footer error-modal-body intro-modal-body">
  <button class="btn primary-btn" type="submit">Finish</button>
</div>
</wicket:panel>