<wicket:panel>
<div id="setupPagePhotoUploader" class="" tabindex="-1" role="dialog" aria-hidden="false" style="display: block; max-height: 70%; height:auto; overflow-y: auto; overflow-x: hidden">
   <button id="setupPageChangePhotoButton" class="btn btn-default" style="margin: 10px 200px"><span class="fa fa-camera"></span> Upload a photo</button>
   <a wicket:id="skip" style="
    margin-left: 500px;
">Skip</a>
<script type="text/javascript">
/*<![CDATA[*/

function preview(img, selection) {
	if (img != null)
		$('#wSetupPage').attr ('data-changed', true);
    updatePreview ('setupPageSetupPagePreviewLarge', selection); 
}

function updatePreview (id, selection) {
   var scaleX = $('#'+id).width() / (selection.width || 1);
   var scaleY = $('#'+id).height() / (selection.height || 1);
   $('#' + id + ' img').css({
        width: Math.round(scaleX * document.getElementById('setupPageMainPhoto').naturalWidth) + 'px',
        height: Math.round(scaleY * document.getElementById('setupPageMainPhoto').naturalHeight) + 'px',
        marginLeft: '-' + Math.round(scaleX * selection.x1) + 'px',
        marginTop: '-' + Math.round(scaleY * selection.y1) + 'px'
   });
   $('#xSetupPage').val(selection.x1);
   $('#ySetupPage').val(selection.y1);
   $('#wSetupPage').val(selection.x2);
   $('#hSetupPage').val(selection.y2);
} 

function hideCropper () {
	 var cropper = $('#setupPageMainPhoto').imgAreaSelect({ remove : true});
  	 $(".imgareaselect-selection").parent().remove();
 	 $(".imgareaselect-outer").remove();
 	 $(".imgareaselect-border4").remove();
}

$().ready (function () {
	
  $('.main-crop-container').scroll(function () {
   		 initCropper();
  });
  $('#setupPagePhotoUploader').scroll(function () {
   		 initCropper();
  });
  $('#init-uploader').click(function () {
  	 removeAllPreviews();
  	 $('#setupPageMainPhoto').attr ('src', $('#current-profile-picture').attr ('src'));
     $('#show-cropper-modal').click();
     $("#setup-page-cropper-ajax").fadeIn('slow');
     setTimeout(function(){$('.main-crop-container').css ('opacity', '1');
     $("#setup-page-cropper-ajax").hide();
     addAllPreviews ();
     initCropper()},5000);
     $('.main-crop-container').css ('opacity', '0.5');
  });
  
  function reset () {
  	 $("[id^=imgareaselect]").remove();
  }

  $('#introductionModal').on('hide.bs.modal', function () {
  	hideCropper();
  });
  
  $('#setupPhotoField').change( function(event) {
    var tmppath = URL.createObjectURL(event.target.files[0]);
    if (tmppath == undefined ) {
          return;
      }
	$('#open').slideDown();
    $('.main-crop-container').css ('opacity', '0.5');
      if (tmppath == null) return;
      var cropper = $('#setupPageMainPhoto').imgAreaSelect({ remove : true}); 
      removeAllPreviews ();
       $("#setup-page-cropper-ajax").fadeIn('slow');
       $('#setupPageMainPhoto').attr('src', tmppath);
       $('#setupPageMainPhoto').css('display', 'none');
  });

  $('#setupPageMainPhoto').load (function () {
    if ($('#setupPageMainPhoto').attr('src') == undefined || $('#setupPageMainPhoto').attr('src').length == 0) {
      return;
    }
   if ($('#setupPagePhotoUploader').css('display') === 'block'){
      	setTimeout(function(){$('.main-crop-container').css ('opacity', '1');
      	$("#setup-page-cropper-ajax").hide(); $('#setupPageMainPhoto').css('display', 'block');addAllPreviews ();
      	initCropper()},5000);
    }
  });
  
  $('#setupPageChangePhotoButton').click(function () {
      $('#setupPhotoField').click();
    });


});

function addAllPreviews () {
   removeAllPreviews();
   var lg = $('<div id="setupPageSetupPagePreviewLarge"><img src="' + $('#setupPageMainPhoto').attr('src') + '"style="position: relative;" /></div>');
     lg.css({
            position: 'relative',
            overflow: 'hidden',
            width: '210px',
            height: '210px', 
            display: 'block',
            margin : '0px 0 5px 0'
        });
     $('#intro_preview_ctn').append(lg);
}

function removeAllPreviews () {
  if (!(typeof $('#setupPageSetupPagePreviewLarge') == 'undefined') || $('#setupPageSetupPagePreviewLarge').length > 0) {
    $('#setupPageSetupPagePreviewLarge').remove (); $('#preview_medium').remove (); $('#preview_small').remove();
  }
}

function rotateRight (id) {
  $('#'+id).rotate(90);
}

function initCropper () {
     var w = document.getElementById('setupPageMainPhoto').naturalWidth;
    var h = document.getElementById('setupPageMainPhoto').naturalHeight;
    if ( w > h ) {
      w = document.getElementById('setupPageMainPhoto').naturalHeight;
      h = document.getElementById('setupPageMainPhoto').naturalHeight;
    } else {
      w = document.getElementById('setupPageMainPhoto').naturalWidth;
      h = document.getElementById('setupPageMainPhoto').naturalWidth;
    }
    
     var s;
     var xL = 0;
     var yL = 0;
     var wL = w;
     var hL = h;
     
  
    var cropper = $('#setupPageMainPhoto').imgAreaSelect({ fadeSpeed : 50000000000000, minHeight: 200, minWidth: 200, instance: true, aspectRatio: '1:1', imageWidth: document.getElementById('setupPageMainPhoto').naturalWidth, imageHeight: document.getElementById('setupPageMainPhoto').naturalHeight,handles: true });
        xL = $('#xSetupPage').val();
    	yL = $('#ySetupPage').val();
    	wL = $('#wSetupPage').val();
    	hL = $('#hSetupPage').val();
       if ($('#wSetupPage').attr('data-changed') === 'true') {
        console.log ('3');
    	s = {
      		x1 : xL, x2 : wL, y1 : yL, y2 : hL, width : (wL - xL), height : (hL - yL) 
    	}
    	cropper.setSelection (xL,yL,wL, hL,false);
    } else {
	  s	= {
      	x1 : 0, x2 : w, y1 : 0, y2 : h, width : w, height : h
      }
      cropper.setSelection (0,0,w, h,false);
    }
    preview (null, s);
    cropper.setOptions({show :true, onSelectChange: preview});
    cropper.update();

};  

function checkCoords()
  {
  	if ($('#current-profile-picture').attr ('src') === $('#setupPageMainPhoto').attr ('src')) {
  		$('#page-setup-edit-current-photo').val ('true');
  	} else {
  		$('#page-setup-edit-current-photo').val ('false');
  	}
    if (parseInt($('#wSetupPage').val())) return true;
    alert('Drag your pointer over your picture then try again.');
    return false;
  };
/*]]>*/
</script>

<div style="opacity: 1; display:none" id="open">
<div class="main-crop-container" >
  
  <div id="crop-ctn" class="crop-ctn">
    <h4>Crop Photo</h4>
    <p>Drag handles to change position and size.</p>
    	<wicket:link>
   	<img id="setup-page-cropper-ajax" src="generic-ajax.gif" style = "width: 200px; height: 200px; display :none"/>
   	</wicket:link>
    <img src="http://www.errandr.com/wicket/resource/org.apache.wicket.Application/images?id=a1eedaec-5682-4a51-90e9-9cf049465bf2-.jpg" class="frame" id="setupPageMainPhoto" style="height: 280px; float: left;">
  </div>
   <div id="intro_preview_ctn" class="preview-ctn">
    <h4>Preview Photo</h4>
    <p>How your photo appears on your profile.</p>
  </div>

</div>
<div class="actions">
  <form wicket:id="upload-form" onsubmit="return checkCoords();" action="post">
      <input wicket:id="x" id="xSetupPage" name="xSetupPage" type="hidden">
      <input wicket:id="y" id="ySetupPage" name="ySetupPage" type="hidden">
      <input data-changed="false" wicket:id="w" id="wSetupPage" name="wSetupPage" type="hidden">
      <input wicket:id="h" id="hSetupPage" name="hSetupPage" type="hidden">
      <input wicket:id="edit-current-photo" id="page-setup-edit-current-photo" type="hidden" />
      <input wicket:id="photoField" id="setupPhotoField" accept="image/*" style="opacity:0;width:0px;height:0px; position: absolute; top: -2000000000" tabindex="-1" type="file">
      <div class="modal-footer error-modal-body intro-modal-body">
        
        <button onclick="hideCropper()" wicket:id="submit" class="btn primary-btn" style="margin-top: 5px;">
	        <span class="button-text tweeting-text">
	                      Upload & Continue
	        </span>
        
        </button>
        <span wicket:id="progress"></span>
    </div>
    </form>
</div>
</div>
    </div>
</wicket:panel>