<wicket:panel>
	<p class="intro-modal-body">Your page on Erranda is public page that allows you to have an open platform to interact with your followers. Boost your Kudos count by posting things that interest your followers or replying their post nominations. Now let's setup a few things.</p>
	<div class="modal-footer error-modal-body intro-modal-body">
        <a wicket:id="next" class="btn primary-btn">
	        <span class="button-text tweeting-text">
	                      Next
	        </span>
        </a>
    </div>
</wicket:panel>	