<wicket:panel>
	<div class="CommentItem" wicket:id="container">
    <div class="DMInboxItem-timestamp"><b><small class="time"><span class="_timestamp" wicket:id="message-date"></span></small></b></div>
     <div wicket:id="sender-name" class="DMInboxItem-title">
  
    
  </div>
    <p wicket:id="message-summary" class="CommentItem-snippet js-tweet-text"><b>Hunger busters on the way.</b></p>
    <div style="margin-top: 5px">
    <a wicket:id="minus-kudos-link" class="permalink-link" href="#" tabindex="-1" title="Remove kudos">Unkudos</a>
		<a wicket:id="kudos-link" class="permalink-link" href="#" tabindex="-1" title="Add one kudos">Kudos</a>
		<a wicket:id="people-that-gave-kudos" class="permalink-link" href="#" tabindex="-1" title="People that gave this Kudos"><span class="fa fa-thumbs-o-up"></span><span wicket:id="label"></span></a>
    <a style="display:none" class="comment-remove-action" wicket:id="remove">Remove</a>
    </div>
    </div>
    <script type="text/javascript">
  	$(".CommentItem-snippet").emotions();
</script>
</wicket:panel>