<wicket:extend>
<div id="page-outer">
          <div id="page-container" class="AppContent wrapper-narrow wrapper-settings">
       <div id="confirm_deactivation_section">
  <div class="content-header">
    <div class="header-inner">
      <h2>Is this your last errand, <wicket:container wicket:id="name"/>?</h2>
    </div>
  </div>
  <div class="content-inner no-stream-end">
    <div class="deactivation-info">
      <h3 class="deactivation-info-header">Before you deactivate , know this:</h3>
   <ul><li>All your posts including comments, nominations, and broadcasts will stay hidden for 30 days</li><li><strong>Logging back into Erranda will automatically activate your account.</strong> Otherwise your account will be permanently deleted.</li><li>If you want to use this account's username or email address on another Erranda account, <a wicket:id="change-password" href="/settings/account">change it</a> before you deactivate. Until the user data is permanently deleted, that information won't be available for use.</li><li>We have no control over content indexed by search engines like Google.</li></ul>
    </div>
    <hr>
    <form wicket:id="deactivate-form" id="confirm-deactivate-account-form" class="t1-form form-horizontal requires-password" name="f" method="post" action="/settings/account/deactivate">
    <div class="form-actions">
        <button wicket:id="deactivate" id="settings_save" class="btn primary-btn" type="submit">Confirm Deactivate</button>
        <button wicket:id="cancel" id="deactivate_account_cancel" class="btn" type="submit">Cancel</button>
      </div>
     
    </form>
  </div>
</div>
</div>
</div>
</wicket:extend>