<wicket:panel>
	          <div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable js-original-tweet        has-cards  has-native-media  with-media-forward    auto-expanded     media-forward with-social-proof focus opened-tweet">

    
    <div class="content">
            <div class="stream-item-header">
       <span wicket:id="name">
       
       </span>
       <span class="time" wicket:id="time">
  
		</span>
 </div>     
              <div class="cards-media-container js-media-container"><div data-card-url="//twitter.com/TheEconomist/status/539778450199154689/photo/1" data-card-type="photo" class="cards-base cards-multimedia" data-element-context="platform_photo_card">
               <span wicket:id="errand-details">	
  	   
  	   </span>
<span wicket:id="image"></span>

  <div class="cards-content">
    <div class="byline">
       
    </div>
    
  </div>
  
</div>
</div>
  <div class="">
      <div class="line">
  <div class="js-machine-translated-tweet-container"></div>
    <div class="js-tweet-stats-container tweet-stats-container ">
    </div>

  <div class="client-and-actions">
  <span class="metadata">
		<a rel="nofollow" wicket:id="minus-kudos-link" class="permalink-link" href="#" tabindex="-1" title="Remove kudos">Unkudos</a>
		<a rel="nofollow" wicket:id="kudos-link" class="permalink-link" href="#" tabindex="-1" title="Add one kudos">Kudos</a>
		<a rel="nofollow" wicket:id="people-that-gave-kudos" class="permalink-link" href="#" tabindex="-1" title="People that gave this Kudos"><span class="fa fa-thumbs-o-up"></span><span wicket:id="label"></span></a>
 	   <a rel="nofollow" wicket:id="comment-link" class="permalink-link" href="#" tabindex="-1"><span wicket:id="label" title="Add a comment">Comment</span></a>
       <a rel="nofollow" wicket:id="pin-link" class="permalink-link" href="#" tabindex="-1" title="Share with friends"><span wicket:id="label">Pin</span></a>  
   </span>
   <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions" style="float:right">
      <wicket:container wicket:id="more-actions" />

    </div>
</div>
<div wicket:id="errand-action-container" class="errand-reply-actionbox swift" style="background: #fff; border-bottom: 0 !important">
</div>
</div>
  </div>
   		
    </div>
  </div>
 <script type="text/javascript">
  	$(".errand-details").emotions();
</script>
</wicket:panel>