<wicket:extend>
<div id="page-outer">
<div id="page-container" class="AppContent wrapper wrapper-permalink">
 <div role="main" class="permalink light-inline-actions  stream-uncapped" style="
    padding-left: 55px;
    padding-right: 20px;
    min-width: 600px;background-color:#fff
">
     <wicket:container wicket:id="this-post" />
     <span wicket:id="proposals"></span>
</div>

</div>
    </div>
</wicket:extend>