<wicket:panel>
	<p class="intro-modal-body">The email you registered with has not been verified. Check your registered email account for a message titled "Welcome to Erranda" to continue.</p>
	<div class="modal-footer error-modal-body intro-modal-body">
        <a wicket:id="resend-email" class="btn primary-btn">
	        <span class="button-text tweeting-text">
	                      Resend Email
	        </span>
        </a>
        <strong wicket:id="fb"></strong>
    </div>
</wicket:panel>	