<wicket:panel>
	<a class="btn btn-danger btn-large project-setup" data-toggle="modal" href="#errorModal" style="display: none;" id="show-error-modal-link"></a>
	<div id="errorModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display:none; width: 100%; overflow: visible">
      <div class="modal-dialog">
      <div class="modal-content">
      	  
          <div class="modal-header">
          	<h3 wicket:id="error-modal-header" class="modal-title" id="confirm_dialog-header">Are you sure?</h3>
          	<button modal-id="errorModal" type="button" class="modal-btn modal-close js-close" aria-controls="dm_dialog-dialog" aria-describedby="dm_dialog-body">
  <span class="fa fa-close lg-2x">
    <span class="visuallyhidden">Close</span>
  </span>
</button>
          </div>
          <div class="error-modal-body">
          		<wicket:link>
   				<img id="modal-ajax" src="generic-ajax.gif" style = "margin: 10px 0 0 280px ; width: 20px; height: 20px; display :none"/>
   		  </wicket:link>
   		  <p wicket:id="error-modal-body" class="modal-body-text">This will delete your conversation.</p>
          </div>
          
        <div class="modal-footer error-modal-body">
        <button onclick="$('#errorModal').modal('hide')" id="confirm_dialog_submit_button" class="btn js-close">Got It</button>
      </div>
        </div>
      </div><!-- /.modal-dialog -->
    </div>
    

</wicket:panel>