<wicket:panel>
	<div class="user-actions btn-group following not-muting including" data-user-id="898371">
  <a wicket:id="follow-link" type="button" class="user-actions-follow-button js-follow-btn btn" style="padding: 8px;">
    <div class="js-action-follow follow-text action-text">
      <span class="fa fa-user-plus"></span>
      Follow
    </div>
</a>
  <a wicket:id="unfollow-link" type="button" class="user-actions-follow-button js-follow-btn btn" style="padding: 8px;">
    <div class="js-action-follow follow-text action-text">
      <span class="fa fa-check"></span>
      	<span wicket:id="label"></span>
    </div>
  </a>
  
  <a wicket:id="follow-request-link" type="button" class="user-actions-follow-button js-follow-btn btn" style="padding: 8px;">
    <div class="js-action-follow follow-text action-text">
      <span wicket:id="label"></span>
    </div>
  </a>
</div>
</wicket:panel>