<wicket:panel>
	<a class="btn btn-danger btn-large project-setup" data-toggle="modal" href="#introductionModal" style="display: none;" id="show-introduction-modal-link"></a>
	<div id="introductionModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display:none; width: 100%; overflow: visible">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
          	<h3 wicket:id="header" class="modal-title">Are you sure?</h3>
          	<button modal-id="introductionModal" type="button" class="modal-btn modal-close js-close" aria-controls="dm_dialog-dialog" aria-describedby="dm_dialog-body">
  <span class="fa fa-close lg-2x">
    <span class="visuallyhidden">Close</span>
  </span>
</button>
          </div>
          <div class="error-modal-body">
          		<wicket:link>
   				<img id="modal-ajax" src="generic-ajax.gif" style = "margin: 10px 0 0 280px ; width: 20px; height: 20px; display :none"/>
   		  </wicket:link>
   		 <span wicket:id="body" modal style=" display: block; max-height: 70%; height:auto; overflow-y: auto; overflow-x: hidden" ></span>
          </div>
        </div>
      </div><!-- /.modal-dialog -->
    </div>
</wicket:panel>