<wicket:panel>
	<div style="cursor:auto" class="DMInboxItem" data-thread-id="1056558601-1056558601" data-last-message-id="546783055726534656">
<div class="DMInboxItem-avatar">
          <a class="js-action-profile js-user-profile-link" href="/Withinet" data-user-id="1056558601">
            <div class="DMConversationAvatar DMConversationAvatar--1">
    <span class="DMConversationAvatar-container">
      <img wicket:id="icon-image" class="DMConversationAvatar-image" src="https://pbs.twimg.com/profile_images/502026696652881920/P1g24fzW_normal.jpeg" alt="">
    </span>
</div>

          </a>
  </div>

  <div class="DMInboxItem-title">
    <b wicket:id="sender-name" class="fullname">You</b>
  </div>

  <p wicket:id="message-summary" class="DMInboxItem-snippet js-tweet-text ">
    sdas

  </p>

  <div class="DMInboxItem-timestamp">
    <small class="time">
      
      <span wicket:id="message-date" class="_timestamp" data-aria-label-part="last" data-time="1419198213" data-long-form="true" data-include-sec="true">
        Dec 21
      </span>
    </small>
  </div>
</div>
</wicket:panel>