<wicket:panel>
	<div class="user-actions btn-group following not-muting including" data-user-id="898371">
  <a wicket:id="follow-link" type="button" class="user-actions-follow-button js-follow-btn btn small" >
     <span class="fa fa-user-plus"></span>
      Follow
</a>
  <a wicket:id="unfollow-link" type="button" class="user-actions-follow-button js-follow-btn btn small">
    <span class="fa fa-check"></span>
      	<span wicket:id="label"></span>
   </a>
</div>
</wicket:panel>