<wicket:panel>
	<a class="btn btn-danger btn-large project-setup" data-toggle="modal" href="#bigModal" style="display: none;" id="show-modal-link"></a>
	<div id="bigModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display:none; width: 100%; overflow: visible">
      <div class="modal-dialog">
      <div class="modal-content">
      	  
          <div class="modal-header">
            <span wicket:id="panel-modal-header" id="panel-modal-header"> </span>
            <button modal-id="bigModal" type="button" class="modal-btn modal-close js-close" aria-controls="dm_dialog-dialog" aria-describedby="dm_dialog-body">
  <span class="fa fa-close lg-2x">
    <span class="visuallyhidden">Close</span>
  </span>
</button>
          </div>
          <div class="modal-body">
          		<wicket:link>
   				<img id="main-modal-ajax-indicator" src="generic-ajax.gif" style = "margin: 10px 0 0 280px ; width: 20px; height: 20px; display :none"/>
   		  </wicket:link>
 				 <span id="modal-body-panel" wicket:id="panel-modal-body"> </span>
          </div>
          
        </div>
         
      </div><!-- /.modal-dialog -->
     
    </div>
    <script>
    	$('#modal-body-panel').change ( function () {
    		$('#main-modal-ajax-indicator').hide();
    	});
    </script>
</wicket:panel>