<wicket:panel>
 <div class="global-nav" data-section-term="top_nav">
    <div class="global-nav-inner">
      <div class="container">
        <div class="pull-left">
            <div role="search">
                <script>

                $().ready (function () {
               
                	$('#doc').click(function (event) {
                	if (event.target.id != 'search-query') {
                		$('#ajax-search-results').hide()
                	};
                  });
                });

                $(function () {
                
                   $('#search-query').bind ('keyup', function () {
    var min_length = 1; // min caracters to display the autocomplete
    var keyword = $('#search-query').val();
    var userid= $('#user-id').val();
    if (keyword.length >= min_length) {
        $.ajax({
            url:  '/ajax/action/search/' + userid + '/' + keyword,
            type: 'GET',
            success:function(data){
                $('#ajax-search-results').show();
                $('#ajax-search-results-set').html(data);
            }
        });
    } else {
        $('#ajax-search-results').hide();
    }
});
$('#ajax-post-mention-results-set').change (function () {
	if ($(this).length == 0) {
		$(this).hide();
	}
});
 $('#search-query').bind ('focus', function () {
 	$('#ajax-search-results').show();
 });
                });
 

</script>

  <form class="t1-form form-search js-search-form" action="/search" id="global-nav-search">
    <label class="visuallyhidden" for="search-query">Search query</label>
    <input class="search-input" type="text" id="search-query" placeholder="Search people, posts, and things" name="query" autocomplete="off" spellcheck="false">
    <input wicket:id="user-id" id="user-id" type="hidden">
    <span class="search-icon js-search-action">
      <button type="submit" class="fa fa-search nav-search">
        <span class="visuallyHidden">Search Erranda</span>
      </button>
    </span>
      <div id="ajax-search-results" role="listbox" class="dropdown-menu typeahead" style="
    display: none;
">
  
  <div role="presentation" class="dropdown-inner js-typeahead-results">
      
    <ul id="ajax-search-results-set" role="presentation" class="typeahead-items typeahead-accounts social-context js-typeahead-accounts block3 has-results">
  
</ul>
  </div>
</div>

  </form>
  
</div>

        </div>
        <h1 id="global-logo" class=" bird-topbar-etched" style="display: inline-block; width: 24px; height: 21px;">
          <strong><wicket:link><a href="/"><img style="height: 30px; width: 30px;position: absolute;top: -5px;" src="../img/logo-small.png" /></a></wicket:link></strong> 
            
        </h1>
        <h1 id="global-ajax-indicator" class=" bird-topbar-etched" style="display: none; width: 24px; height: 21px;">
         	<i class="fa fa-circle-o-notch fa-spin fa-lg"></i>
        </h1>
          
          

          
          <div class="pull-right" style="display: inline-block;">
          
<div role="navigation" style="display: inline-block;margin-right: 40px;position: relative; top: 10px;"><ul class="nav js-global-actions" id="">
            
            <li id="global-nav-home" class="home active" data-global-action="home">
                <a class="global-ajax-action js-nav js-tooltip js-dynamic-tooltip" data-placement="bottom" href="/" data-component-term="home_nav" data-nav="home" alt="Home">
                  <span class="fa fa-home fa-2x"></span> 
                </a>
              </li>
             
                <li id="global-nav-home" class="home active" data-global-action="home">
                
                <a wicket:id="messages-link" class="modal-ajax-action" alt="Messages and Replies" id="messages_linke" href="javascript:;">
                   <span class="fa fa-envelope fa-2x"></span> 
                </a>
                <span wicket:id="new-message-count"></span>
              </li>

              <li id="global-nav-home" class="home active me dropdown session js-session" data-global-action="home">
                    <wicket:container wicket:id="notifications-container" />
              </li>
 <li id="global-nav-home" class="home active me dropdown session js-session" data-global-action="home">
                
                <wicket:container wicket:id="friend-requests-container" />
              </li>
          </ul></div><ul class="nav right-actions" style="
    margin-right: 30px;
"><li class="me dropdown session js-session" data-global-action="t1me" id="user-dropdown">
                <a class="btn settings dropdown-toggle js-dropdown-toggle" data-toggle="dropdown" id="user-dropdown-toggle" title="Profile and settings" data-placement="bottom">
                <img wicket:id="icon-image" class="avatar size32" src="http://www.realestatetaxgroup.com/wp-content/uploads/2013/03/empty-profile.png" alt="Profile and settings" data-user-id="1056558601"></a>
                <div class="dropdown-menu">
    <div class="dropdown-caret">
      <span class="caret-outer"></span>
      <span class="caret-inner" ></span>
    </div>
    <ul>
      
      <li class="current-user" data-name="profile">
        

<a wicket:id="user-profile" href="http://localhost:8080/profile/simon" class="global-ajax-action account-summary account-summary-small js-nav" data-nav="view_profile"><div class="content"><div class="account-group js-mini-current-user"><b wicket:id="fullname" class="fullname">Folarin Omotoriogun</b><span class="screen-name hidden" dir="ltr">@<span wicket:id="username">Withinet</span></span><small class="metadata">View profile</small></div></div></a>
      </li>
      <li class="dropdown-divider"></li> 
      <li><a wicket:id="create-business-page-link" href="javascript:;" data-nav="settings" class="js-nav modal-ajax-action" >Create Erranda Page <li class="dropdown-divider"></li></a>
     
      </li>   
      <li><a wicket:id="update-profile-link" href="javascript:;" data-nav="settings" class="js-nav modal-ajax-action">Account Settings</a></li>
      <li class="dropdown-divider"></li>
      <li><a wicket:id="switch-account-link" href="javascript:;" data-nav="settings" class="js-nav modal-ajax-action">Switch to another account</a></li>
      <li data-name="lists"><a class="global-ajax-action" wicket:id="logout">Logout</a></li>
    </ul>
  </div>
              </li></ul>
        </div>
      </div>
    </div>
  </div>
</wicket:panel>