<wicket:panel>
 <wicket:link>
</wicket:link>
	<div class="global-nav" data-section-term="top_nav">
    <div class="global-nav-inner">
      <div class="container">

        
        <ul class="nav js-global-actions">
        <li class="home" data-global-action="t1home">
              <a class="nav-logo-link" href="/" data-nav="front">
                <span><strong style="
    font-size: 24px;
    color: white;
">Erranda</strong></span>
              </a>
          </li>
          </ul>
        <div class="pull-right">
		  <a wicket:id="log-in" class="main-action-link" href="/account/begin_password_reset">Log In</a>
          <a wicket:id="sign-up" class="main-action-link link-outline" href="/account/begin_password_reset">Sign Up Today</a>
        </div>
      </div>
    </div>
  </div>
</wicket:panel>