<wicket:panel>
    
    <form wicket:id="form" class="t1-form form-horizontal requires-password" autocomplete="off">
     <hr>
     <span wicket:id="feedback"></span>
      <h3 class="settings-header">Change your password</h3>
     <div class="control-group">
        <div class="controls">
          <input placeholder="New password" wicket:id="new-password" type="password" name="current_password">
        </div>
        <div class="controls">
          <input placeholder="Verify password" wicket:id="verify-password" type="password" name="current_password">
        </div>
      </div>
      <div class="form-actions">
  <button wicket:id="submit" class="btn primary-btn" type="submit">Reset Password</button>
	</div>
</form>
</wicket:panel>