<wicket:panel>
<span>
<div class="content-header"><div class="header-inner"><h2 wicket:id="header">Wemimo Omotoriogun's friends</h2><span wicket:id="relationship" class="relationship-header">
	<div id="id28f">
	
      <div class="ProfileCard-userActions with-rightCaret js-userActions">
        <div class="UserActions   UserActions--small u-textLeft">
    <div class="user-actions btn-group following not-muting including ">
      <span id="id290">
            <div class="dropdown">
                <a class="user-actions-follow-button js-follow-btn btn small small-follow-btn" type="button" data-toggle="dropdown">
  			<span class="fa fa-check"></span><span>Friends </span>
        </a>
                <div class="dropdown-menu">
    <ul>
      <li class="mention-text pretty-link not-blocked"><a class="dropdown-link global-ajax-action" id="id28b" href="javascript:;">Message</a></li>
        <li class="dropdown-divider"></li>
      <li class="mention-text pretty-link not-blocked"><a class="dropdown-link" id="id28c" href="javascript:;">Unfriend</a><span style="display:none;" class="wicket-ajax-indicator" id="id28c--ajax-indicator"><img src="../wicket/resource/org.apache.wicket.ajax.AbstractDefaultAjaxBehavior/indicator-ver-03CE3DCC84AF110E9DA8699A841E5200.gif" alt=""></span></li>
      <li class="dropdown-divider"></li>
      <li class="mention-text pretty-link not-blocked"><a class="dropdown-link global-ajax-action" id="id28d" href="javascript:;">Block</a></li>
    </ul>
  </div>
            </div>
</span>
    </div>
</div>
    </div>
</div>
</span></div></div></span>
</wicket:panel>