<wicket:panel>
	<div class="ProfileTweet-header u-cf">
      <div class="ProfileTweet-context">
    <span class="js-retweet-text" data-aria-label-part="">
        <span class="fa fa-hand-o-right" style="margin-right: 10px;"></span>
       <wicket:container wicket:id="action"></wicket:container>&nbsp;<a wicket:id="others"> view all </a> 
    </span>
  </div>
    </div>
</wicket:panel>