<wicket:panel>
	<div class="ProfileTweet-header u-cf">
      <div class="ProfileTweet-context">
    <span class="js-retweet-text" data-aria-label-part="">
        <span class="fa fa-hand-o-right" style="margin-right: 10px;"></span>
        <a wicket:id="others" class="u-textInheritColor"><span wicket:id="label"></span></a>
    </span>
  </div>
    </div>
</wicket:panel>