<wicket:panel>
	<div class="ProfileTweet-header u-cf">
      <div class="ProfileTweet-context">
    <span class="js-retweet-text" data-aria-label-part="">
        <span class="fa fa-hand-o-right" style="margin-right: 10px;"></span>
        <a wicket:id="link" class="u-textInheritColor" href="/Gidi_Traffic"><span wicket:id="name"></span></a> mentioned <a wicket:id="others"> <span wicket:id="others-label"></span></a> &nbsp;<span wicket:id="time"></span>
    </span>
  </div>
    </div>
</wicket:panel>
Folarin nominated target and others in this post