  <wicket:panel>
  <style>


  .select2-container  {
    margin-bottom: 5px;
  }

  .select2-container .select2-container-multi {
    z-index: 300000;
  
  </style>
  <div class="timeline-tweet-box" style="min-width:630px;border-bottom: 1px solid #e1e8ed;">
    <div class="home-tweet-box tweet-box component tweet-user">

      <form wicket:id="errand" class="t1-form tweet-form" autocomplete="off"><div style="width:0px;height:0px;position:absolute;left:-100px;top:-100px;overflow:hidden"><input type="hidden" name="errande8_hf_0" id="errande8_hf_0"></div>

        <img wicket:id="icon-image" class="inline-reply-user-image avatar size32" src="http://www.realestatetaxgroup.com/wp-content/uploads/2013/03/empty-profile.png" alt="">

        <div class="tweet-content">

          <div> 
                     <script>

          function hideImageUploadSection () {
            $('#errand-box').css("display", "none");
            $('.image-search-box').css("display", "none");
            $('#camera-button').css("display", "none");
            $('#image-results').css('display','none');
          }

          function hideLinkSection () {
            $('#link').hide();
          }

          function hideTagFriendsSection () {
            $('.select2-container').css('display', 'none');
          }

          function shopping () {
            openPoster();
            $('#errand-location').attr ("placeholder", "Location (Town, City, Country)");
            $('#errand-store-name').css ("display","block");
          }

          function resetErrandForm () {
            $('#errand-box').val ("");
            $('#description-box').val ("");
            $('#link').val ("");
            $('#errand-link').css('color', 'rgb(153, 153, 153)');
            $('#camera-button-open').css('color', 'rgb(153, 153, 153)');
            $('#tag-friend-button').css('color', 'rgb(153, 153, 153)');
            $("#photoField").val ("");
            $("#image-content").html("");
            $("#photoField").attr ("value", ""); 
            $("#camera-button-preview").html("");
            $('#errand-box').attr("data-image-search", "true");
            $('#camera-button-open').css('color', 'rgb(153, 153, 153)');    
          }

          function disableLocation () {
            $('#errand-location').css ("display","none");
            $('#errand-location-icon').css ("display","none");
          }
          function openPoster () {     
            if ($("#updateRemainder").css ("display") === "none") {
              $("#updateRemainder").slideToggle(400, function () {
                $("#updateRemainder").css ("display", "block");
              });
            }
          }

          function imagePreviewOnly () {
            $('#image-results').css('display','none');
            $('#imageSearchHeader').css('display','none');
          }

          </script>
          <script type="text/javascript">

          function clickImageUpload () {
            $("#photoField").click(); 
          };

          $("document").ready(function(){
            $("#photoField").change(function() {
              if ( $("#photoField").val() != '') {
                $('#camera-button-open').css('color', '#0084B4');
              }
            });
            
            
            $('#description-box').keyup(function () {
            	$('#errand-box').val ($('#description-box').val());
            });
            });

          function resetImageBox () {
            $("#photoField").attr ("value", "");
            $("#image-content").html("");
          }

          function previewImage() {
            $('#image-content').html ("");
            $('#camera-button-preview').show();
            $('#image-content').attr ("style", "display:block");
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("photoField").files[0]);

            oFReader.onload = function (oFREvent) {
              var newImg=document.createElement('img');
              newImg.src = oFREvent.target.result;
              newImg.maxWidth = 1000;
              newImg.maxHeight = 1000;
              newImg.id = "uploadPreview";
              var contentDiv=document.getElementById('camera-button-preview');
              contentDiv.innerHTML='';
              var link=document.createElement('a');
              link.href="#";
              link.style.display = "block";
              link.onclick =  function () {$('#camera-button-open').css('color', '#999');$("#photoField").attr ("value", ""); $("#camera-button-preview").html("");$('#errand-box').attr("data-image-search", "true"); };
              link.onmouseover = function () {$("#uploadPreview").attr ("style", "border: 1px solid #0084B4")};
              link.onmouseout = function () {$("#uploadPreview").attr ("style", "border: 1px solid #fff")};
              link.id="resetImageLink";
              link.innerHTML = "X";
              contentDiv.appendChild (link);
              contentDiv.appendChild (newImg);
              $("#uploadPreview").attr ("style", "border: 1px solid #fff");
              $('#errand-box').attr("data-image-search", "true");
            };
          };

          function openCameraOptions () {
            hideLinkSection ();
            hideTagFriendsSection();
            if ($('#errand-box').css("display") == 'none') {
              $('#errand-box').css("display", "block");
              $('.image-search-box').css("display", "block");
              $('#camera-button').css("display", "block");
              if ($('#image-content').html() != '') {
                $('#image-results').css('display','block');
              } else {
                $('#image-results').css('display','none');
              }

            } else {
              $('#errand-box').css("display", "none");
              $('.image-search-box').css("display", "none");
              $('#camera-button').css("display", "none");
              $('#image-results').css('display','none');

            }
          }

          function tagLocation () {
            $('#errand-location').css ("display","block");
          }
          function tagFriends () {
            hideLinkSection();
            hideImageUploadSection ();
            if ($('.select2-container').css('display') == 'block') {
              $('.select2-container').css('display', 'none');
            } else {
             $('.select2-container').css('display', 'block');
             $(".select2-input").focus();
             $(".select2-input").blur();
           }
         }
         </script>
       </div>

		<div class="form-row">
          <textarea data-slide="true" data-search="false" id="description-box" wicket:id="details" class="tweet-box rich-editor" spellcheck="true" role="textbox" aria-multiline="true" style="min-height: 35px;
          width:100%;
          border: 1px solid #c1c1c1;  box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(255, 255, 255, 0.6); height: 35px" placeholder="What's up?" name="details"></textarea>
   <script>
                
                $(function () {
                
                   $('#description-box').bind ('keyup', function () {
                   		nominateAutocomplete ('description-box', 'ajax-post-mention-results', 'ajax-post-mention-results-set');
					});
				});
</script>
  <div role="listbox" class="dropdown-menu typeahead" id="ajax-post-mention-results" style="position: absolute; display: none;top: 66px;">
  <div aria-hidden="true" class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <div role="presentation" class="dropdown-inner js-typeahead-results" id="ajax-post-mention-results-set"><ul role="presentation" class="typeahead-items typeahead-accounts js-typeahead-accounts block0 has-results" style="display: block;">
  
  
</ul></div>
</div>
        </div>

       <div id="updateRemainder" style="display: none;">
                <div class="form-row">

        </div>

        <div class="form-row">
          <span>

          </span>
          <input wicket:id="photo" id="photoField" accept="image/*" type="file" style="opacity:0;width:0px;height:0px; position: absolute; top: -2000000000" tabindex="-1" name="photo" onchange="previewImage()">
        </div>

        <div class="toolbar" style="display:block">
         <input placeholder="Search friends" wicket:id="tags" type="hidden" style="min-height: 30px;
         width:100%;" value="" name="tags" id="tagse7" class="select2-offscreen" tabindex="-1">

         <input wicket:id="errand-link" id="link" type="text" placeholder="http://" autocomplete="off" style="display: none; margin: 5px 0px; width: 100%;border: 1px solid #c1c1c1;  box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(255, 255, 255, 0.6);" data-click="0" value="" name="errand-link">
         <input class="geocomplete" wicket:id="errand-location" id="errand-location" type="text" placeholder="Tag a local network (Area, City, Country)" style="min-height: 30px; min-width: 100%; display: none; margin: 5px 0px;border: 1px solid #c1c1c1;  box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(255, 255, 255, 0.6);" value="St Andrews, Fife, United Kingdom" name="errand-location" autocomplete="off">
         <span class="image-search-box" style="display:none; height:30px">
           <input autocomplete="off" id="errand-box" class="rich-editor text-label" contenteditable="true" spellcheck="true" role="textbox" aria-multiline="true" style="min-height: 30px; width: 100%; border-color: rgb(86, 180, 239); display: none; border: 1px solid #c1c1c1;  box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(255, 255, 255, 0.6);/* box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 3px inset, rgba(82, 168, 236, 0.6) 0px 0px 8px; */" placeholder="Browse Images" name="title" data-image-search="true">
           <span class="fa fa-google" style="
           position: relative;
           top: -20px;
           left: 520px;
           "></span>
         </span>
         <div id="image-results" style="display:none">

          <input wicket:id="pictureUrl" type="text" class="hidden" id="image-url" value="" name="pictureUrl">

          <div id="image-content"></div>
        </div>
        <a onclick="clickImageUpload()" class="btn" id="camera-button" style="display: none; text-align: center; margin-top: 5px; margin-bottom: 5px; border-radius: 5px;">Upload a photo</a>

        <a onclick="openCameraOptions()" id="camera-button-open" class="js-nav js-tooltip js-dynamic-tooltip input-field" style="margin-right: 10px; text-decoration:none;" data-toggle="tooltip" data-placement="top" data-original-title="Attach a photo">
          <span class="fa fa-camera fa-lg"></span> </a>
          <a id="errand-link" onclick="addLink()" class="visuallyHidden js-nav js-tooltip js-dynamic-tooltip input-field" style="margin-right: 10px; text-decoration:none" data-toggle="tooltip" data-placement="top" data-original-title="Add a link">
            <span class="fa fa-link fa-lg"></span> </a>
            <a id="timer" class="visuallyHidden js-nav js-tooltip js-dynamic-tooltip input-field" style="margin-right: 10px; text-decoration:none" data-toggle="tooltip" data-placement="top" data-original-title="Timer makes post disappear after 24 hours">
              <span class="fa fa-clock-o fa-lg"></span> </a>
              <a id="tag-friend-button" onclick="tagFriends()" class="js-nav js-tooltip js-dynamic-tooltip input-field" style="margin-right: 10px; text-decoration:none" data-toggle="tooltip" data-placement="top" data-original-title="Tag friends in this post">
                <span class="fa fa-user-plus fa-lg"></span> </a>
                <div class="tweet-box-extras checkbox">

                 <label title="Post will not appear on timeline or show your details" style="
                 width: 100%; font-weight:bold; color: #5A5F62 
                 "><input wicket:id="anonymous" type="checkbox" name="anonymous">Make me anonymous
               </label> 
             </div>
             <div class="tweet-button">
              <div class="btn-group dropdown">
                <input class="visuallyHidden" wicket:id="privacy" type="text" />
                <button style="margin-right: 5px" id="privacy-button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-placement="top" title="" data-original-title="Who sees this?">

                  <span wicket:id="selected-privacy" id="selected-privacy">
                      <span class="fa fa-map-marker js-tooltip privacy-icon"></span>
                      <span class="privacy-text">St Andrews Area</span>
                  </span>
                 
                  <span class="fa fa-sort-down fa-lg" style="
                  top: -5px;
                  left: 13px;
                  position: relative;
                  ">
                </span></button>
                <ul class="dropdown-menu" role="menu" style="
                right: 2px;
                top: 23px;
                ">
                <li><h4 style="
    margin-left: 10px;
    color: grey;
">Share with which networks?</h4></li>
                <hr>
                <li wicket:id="privacy-options">
					<wicket:container wicket:id="this"   />
                  </li>                 </ul>
                </div>
                <div class="btn-group">
                  <button wicket:id="submit" class="btn primary-btn tweet-action tweet-btn js-tweet-btn global-ajax-action" type="button">
                    <span class="button-text tweeting-text">
                      Share
                    </span>
                  </button>
                </div>
              </div>
              <div id="camera-button-preview">

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>

  function reset () {
    $("#link" ).val ("");
    $('#errand-box').val ("");

  }
  /*<![CDATA[*/

  addLink = function () {
    hideImageUploadSection ();
    hideTagFriendsSection();
    var state = $( "#link" ).attr ("data-click");
    if ($( "#link" ).css('display') == 'none') {
      $( "#link" ).css("display","block");
    } else {
      $( "#link" ).css ("display", "none");
    } 
    if ($( "#link" ).val () == '') {

    }
  }
  $("#description-box").bind('focus', function () {
    if ($("#updateRemainder").css ("display") === "none") {
      $("#updateRemainder").slideToggle(500, function () {
        $("#updateRemainder").css ("display", "block");
      });
    }
    if ($(this).attr('data-slide') === 'true') {
    	$(this).animate({height:63},200);
    	$(this).attr('style', $(this).attr('style') + "min-height: 63 !important");
    	$(this).attr('data-slide', 'false');
    }
  });

  setImageUrl = function (link) {
    $("#image-url").attr("value", link);
  }
  $("document").ready(function(){
    $('#errand-box').attr("data-image-search", "true");
    $("#resetImageLink").hide();
    $("#resetImageLink").hover (function () {$("#uploadPreview").attr ("style", "border: 1px solid #0084B4")}, function () {$("#uploadPreview").attr ("style", "border: 1px solid #fff")}); 
    $("#camera-button-open").click(function () {
    	$('#errand-box').change();
    });
    $("#camera-button-open").mouseover(function() {
      if ($(this).css('color') == '#0084B4') {
          $(this).css('color', '#0084B4');
      }
    });
    $("#tag-friend-button").mouseover(function() {
      
      if ($(this).css('color') == '#0084B4') {
          $(this).css('color', '#0084B4');
      }
    });
    $("#timer").hover(function() {
      if ($(this).css('color') == '#0084B4') {
          $(this).css('color', '#0084B4');
      }
    });
    $("#link").hover(function() {
      if ($(this).css('color') == '#0084B4') {
          $(this).css('color', '#0084B4');
      }
    });

  });
  </script>


  <script>
  var imageSearch;var lastSearch=0;
  $(function(){


    imageSearch=new google.search.ImageSearch();
    imageSearch.setRestriction(
      google.search.Search.RESTRICT_SAFESEARCH,
      google.search.Search.SAFESEARCH_STRICT
      );
    imageSearch.setRestriction(
      google.search.ImageSearch.RESTRICT_IMAGESIZE,
      google.search.ImageSearch.IMAGESIZE_LARGE);
    imageSearch.setSearchCompleteCallback(this,imgSearchComplete,null);var hash=window.location.hash;if(hash!=""&&hash.length>0){if(hash.substr(0,3)=='#q='){
      var query=hash.substr(3,hash.length-3);
      $('#errand-box').removeClass('text-label').val(query);
      if ($("#errand-box").attr("data-image-search")==="true"){
        search(query);}}}
      });function imgSearchComplete(){
    if(imageSearch.results&&imageSearch.results.length>0){
      $('#image-content').attr ("style", "display:block");
      var contentDiv=document.getElementById('image-content');
      contentDiv.innerHTML='';
      var results=imageSearch.results;
      $('#image-results').attr ("style", "display:block");


      if (results.length > 0) {contentDiv.innerHTML = "<h4>Attach a photo from suggestions from Google - Errandr has no control over images</h4>";} 
      else {

      }
      for(var i=0;i<results.length;i++){
        var result=results[i];var imgContainer=document.createElement('div');imgContainer.setAttribute("align","left");
        var newLink=document.createElement('a');newLink.href="#";
        newLink.className = "post-link-results";
        newLink.addEventListener ('click',  (function (_result, _newLink) {
          newLink.addEventListener('click', function(){
            if (_newLink.style.border === "2px solid blue") {
              $("#image-url").attr("value", null);
              _newLink.style.border = "2px solid #ccc";
              $('#camera-button-open').css('color', '#999');
            } else {
              $("#image-url").attr("value", _result.unescapedUrl);
              $(".post-link-results").attr ("style", "border: 2px solid #ccc");
              _newLink.style.border = "2px solid blue";
              $('#camera-button-open').css('color', '#0084B4');
            }
            $(".post-link-results img").attr ("style", "outline:none");
            _newLink.style.borderRadius = "4px";
            _newLink.style.float = "left";
          });
        })(result, newLink), false);
        newLink.title=result.titleNoFormatting;
        var newImg=document.createElement('img'); 
        newLink.draggable=false;
        newImg.draggable=false;
        newImg.src=result.tbUrl;
        newImg.setAttribute("align","left");
        newLink.appendChild(newImg);imgContainer.appendChild(newLink);
        contentDiv.appendChild(imgContainer);}
      }else {
       var c = document.getElementById('image-content');
       c.innerHTML = "<h4>Your search did not match any documents</h4>";
     }
   } 

   $('#errand-box').bind('input keyup propertychange change', function(){
     $("#photoField").val ("");
     $('#camera-button-open').css('color', '#999');
     if ($('#errand-box').val().length === 0) {
      $('#image-results').hide();
    } else {
      if ($("#errand-box").attr("data-image-search")==="true"){
        appendAjaxLoaders (0);
        $('#image-results').show();
        $('#camera-button-preview').hide();
        var query=$(this).val();
        search(query);
      }
    }

  });

   function search(query){
    if(query.length>0)
      {$("#search-content").show();}
    else{
      $("#search-content").hide();}
      imageSearch.execute(query);}
      $('#errand-box').each(function(){$(this).addClass('text-label');$(this).keyup(function(){if(this.value.length==1){$(this).removeClass('text-label');}
        if(this.value==''){$(this).addClass('text-label');}});});

      function appendAjaxLoaders (_count) {
        var c = document.getElementById('image-content');

        if (_count === 0) {
          c.innerHTML = "<h4>Searching for photo suggestions</h4>";
        }
        if (_count < 4) {
          var loader = document.createElement('img');
          loader.src = "../wicket/resource/com.erranda.prototype.web.ModalContainer/generic-ajax-ver-1427443677532.gif";
          c.appendChild (loader);
          appendAjaxLoaders(_count + 1);
        }
      }
      </script>
      <script>

      $(function () {
       $('#link').bind('input keyup propertychange', function(){
        validateUrl ($('#link').val());

      });
       $('.date').datepicker({
        format: "dd/mm/yyyy"
      });

       $('.lazy-load').imageloader();
       var nImages = $("img").length;
       var loadCounter = 0;
    //binds onload event listner to images
    $("img").on("load", function() {
      loadCounter++;
      if(nImages == loadCounter) {
        $(this).parent().show();
      }
    }).each(function() {  
        // attempt to defeat cases where load event does not fire
        // on cached images
        if(this.complete) $(this).trigger("load");
      });
  });

      function validateUrl (url) {
        if(/^([a-z]([a-z]|\d|\+|-|\.)*):(\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?((\[(|(v[\da-f]{1,}\.(([a-z]|\d|-|\.|_|~)|[!\$&'\(\)\*\+,;=]|:)+))\])|((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=])*)(:\d*)?)(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*|(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)|((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)|((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)){0})(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(\#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(url)) {
          $('#errand-link').css('color', '#0084B4');
        } else {
          $('#errand-link').css('color', '#999');
        }
      }
      </script>
    </wicket:panel>