<wicket:panel>
 <a style="display: block;">
                   <h6>Friends and Friends of Friends</h6>
                  <span class="fa fa-users privacy-icon"></span><span class="privacy-text">Friends</span></a>
</wicket:panel>