<wicket:panel>
	<a style="
                    display: block;
                    ">
                    <h6>You and anyone nominated or mentioned</h6>
                    <span class="fa fa-lock privacy-icon"></span><span class="privacy-text">Private (+)</span></a>
</wicket:panel>