<wicket:panel>
	<a style="
                    display: block;
                    "><span class="fa fa-map-marker privacy-icon"></span><span class="privacy-text" wicket:id="localty"></span></a>
</wicket:panel>