<wicket:panel>
	<form wicket:id="switch-privacy-form" class="t1-form tweet-form" autocomplete="off" style="padding: 20px; margin-bottom: 100px">
	<div class="form-row">
		<textarea data-search="false" wicket:id="details" class="tweet-box rich-editor" spellcheck="true" role="textbox" aria-multiline="true" style="min-height: 30px; width: 100%; border: 1px solid rgb(193, 193, 193); box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 3px inset, rgba(255, 255, 255, 0.6) 0px 0px 8px; height: 63px;" placeholder="What's up?" name="details"></textarea>
	 <div role="listbox" class="dropdown-menu typeahead" wicket:id="mention-box" style="width: 96%; position: absolute; top: 88px; display: none; left: 3px;">
  <div aria-hidden="true" class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <div wicket:id="mention-results" role="presentation" class="dropdown-inner js-typeahead-results" >
  <ul role="presentation" class="typeahead-items typeahead-accounts js-typeahead-accounts block0 has-results" style="display: block;">
  
  
</ul>
</div>	
		</div>
	</div>
		<div class="form-row">
		<select wicket:id="switch-privacy-select" style="
   margin: 0 auto; padding: 10;float: left;
">
		
		</select>
		</div>
		 <div class="tweet-button">
		<button wicket:id="submit" class="btn primary-btn tweet-action tweet-btn js-tweet-btn global-ajax-action" type="button">
                    <span class="button-text tweeting-text">
                      Update
                    </span>
                  </button>
         </div>
	</form>
	
</wicket:panel>