<wicket:panel>
 <a style="
                  display: block;
                  ">
                   <h6>People on Erranda including Followers</h6>
                  <span class="fa fa-globe privacy-icon"></span><span class="privacy-text">Public</span></a>
</wicket:panel>