

<wicket:panel>
<a id="init-uploader" class="js-nav js-tooltip js-dynamic-tooltip input-field" style="/* margin-right: 10px; */ text-decoration:none;position: absolute;  right: 0;  left: 0;  bottom: 0;  background: rgba(0,0,0,0.5);text-align: center;  line-height: 1;  cursor: pointer;border-radius: 0 0 10px 10px;" data-toggle="tooltip" data-placement="top" data-original-title="Attach a photo">
  <span class="edit-photo-content" style="
    position: relative;  
    /* top: 2px; */
">
<span style="  padding-left: 10px;  padding-right: 0px;  font-size: 16px;  font-weight: bold;  
    line-height: 30px;  color: #fff;  position: relative;  
    /* top: -4px; */
">
<span class="fa fa-camera fa-lg"></span></span>
</span> </a>
  <a id="show-cropper-modal" class="btn btn-danger btn-large project-setup" data-toggle="modal" href="#photoUploader" style="display: none;"></a>
  <div id="photoUploader" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false" style="width: 100%; overflow: visible; display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
          <h3 class="modal-title" id="profile_image_upload_dialog-header">Adjust and resize your photo</h3>
          <button modal-id="photoUploader" type="button" class="modal-btn modal-close js-close" aria-controls="dm_dialog-dialog" aria-describedby="dm_dialog-body"><span class="fa fa-close lg-2x"><span class="visuallyhidden">Close</span></span></button>
        </div>
        <div class="modal-body">
           <wicket:link>   
      <link rel="stylesheet" type="text/css" href="imgareaselect-default.css" />
<script type="text/javascript" src="jquery.imgareaselect.pack.js"></script>
</wicket:link>
<script type="text/javascript">

  
/*<![CDATA[*/

function preview(img, selection) { 
	if (img != null)
		$('#w').attr ('data-changed', true);
    updatePreview ('preview_large', selection);
}

function updatePreview (id, selection) {
   var scaleX = $('#'+id).width() / (selection.width || 1);
   var scaleY = $('#'+id).height() / (selection.height || 1);
   $('#' + id + ' img').css({
        width: Math.round(scaleX * document.getElementById('ferret').naturalWidth) + 'px',
        height: Math.round(scaleY * document.getElementById('ferret').naturalHeight) + 'px',
        marginLeft: '-' + Math.round(scaleX * selection.x1) + 'px',
        marginTop: '-' + Math.round(scaleY * selection.y1) + 'px'
   });
   $('input[name="x"]').val(selection.x1);
   $('input[name="y"]').val(selection.y1);
   $('input[name="w"]').val(selection.x2);
   $('input[name="h"]').val(selection.y2);
} 
var initCropperTimer;

$().ready (function () {
  $('#init-uploader').click(function () {
  	 removeAllPreviews();
  	 $('#ferret').attr ('src', $('#current-profile-picture').attr ('src'));
     $('#show-cropper-modal').click();
     $("#cropper-ajax").fadeIn('slow');
     initCropperTimer = setTimeout(function(){$('.main-crop-container').css ('opacity', '1');
     $("#cropper-ajax").hide();
     addAllPreviews ();
     initCropper()},5000);
     $('.main-crop-container').css ('opacity', '0.5');
      $('.uploader-dialogue').scroll(function () {
   		 initCropper();
  });
  });
  
  function reset () {
  	 $("[id^=imgareaselect]").remove();
  }

  $('#photoUploader').on('hide.bs.modal', function () {
  	 var cropper = $('#ferret').imgAreaSelect({ remove : true});	
  	 clearTimeout (initCropperTimer); 
  });
  
  $('#photoField').change( function(event) {
    var tmppath = URL.createObjectURL(event.target.files[0]);
    if (tmppath == undefined ) {
          return;
      }
    $('.main-crop-container').css ('opacity', '0.5');
      if (tmppath == null) return;
      var cropper = $('#ferret').imgAreaSelect({ remove : true}); 
      removeAllPreviews ();
       $("#cropper-ajax").fadeIn('slow');
       $('#ferret').attr('src', tmppath);
  });

  $('#ferret').load (function () {
    if ($('#ferret').attr('src') == undefined || $('#ferret').attr('src').length == 0) {
      return;
    }
    if ($('#photoUploader').css('display') === 'block'){
      	setTimeout(function(){$('.main-crop-container').css ('opacity', '1');$("#cropper-ajax").hide(); addAllPreviews ();
      	initCropper()},5000);
    }
  });
  
  $('#changePhotoBtn').click(function () {
      $('#photoField').click();
    });


});

function addAllPreviews () {
   removeAllPreviews();
   var lg = $('<div id="preview_large"><img src="' + $('#ferret').attr('src') + '"style="position: relative;" /></div>');
     lg.css({
            position: 'relative',
            overflow: 'hidden',
            width: '210px',
            height: '210px', 
            display: 'block',
            margin : '0px 0 5px 0'
        });
     $('#preview-ctn').append(lg);  

}

function removeAllPreviews () {
  if (!(typeof $('#preview_large') == 'undefined') || $('#preview_large').length > 0) {
    $('#preview_large').remove (); 
  }
}

function rotateRight (id) {
  $('#'+id).rotate(90);
}

function initCropper () {
    var w = document.getElementById('ferret').naturalWidth;
    var h = document.getElementById('ferret').naturalHeight;
    if ( w > h ) {
      w = document.getElementById('ferret').naturalHeight;
      h = document.getElementById('ferret').naturalHeight;
    } else {
      w = document.getElementById('ferret').naturalWidth;
      h = document.getElementById('ferret').naturalWidth;
    }
    
     var s;
     var xL = 0;
     var yL = 0;
     var wL = w;
     var hL = h;
     
  
    var cropper = $('#ferret').imgAreaSelect({ fadeSpeed : 50000000000000, minHeight: 200, minWidth: 200, instance: true, aspectRatio: '1:1', imageWidth: document.getElementById('ferret').naturalWidth, imageHeight: document.getElementById('ferret').naturalHeight,handles: true });
        xL = $('#x').val();
    	yL = $('#y').val();
    	wL = $('#w').val();
    	hL = $('#h').val();
       if ($('#w').attr('data-changed') === 'true') {
    	s = {
      		x1 : xL, x2 : wL, y1 : yL, y2 : hL, width : (wL - xL), height : (hL - yL) 
    	}
    	cropper.setSelection (xL,yL,wL, hL,false);
    } else {
	  s	= {
      	x1 : 0, x2 : w, y1 : 0, y2 : h, width : w, height : h
      }
      cropper.setSelection (0,0,w, h,false);
    }
    preview (null, s);
    cropper.setOptions({show :true, onSelectChange: preview});
    cropper.update();
	};  
 
function checkCoords()
  {
  	if ($('#current-profile-picture').attr ('src') === $('#ferret').attr ('src')) {
  		$('#edit-current-photo').val ('true');
  	} else {
  		$('#edit-current-photo').val ('false');
  	}
    if (parseInt($('#w').val())) return true;
    alert('Drag your pointer over your picture then try again.');
    return false;
  };
/*]]>*/
</script>












<div class="uploader-dialogue">
<h3 class="title">Keep your friends updated - let them know its really you...</h3>
<div style="opacity: 1;" class="main-crop-container">
  
  <div id="crop-ctn" class="crop-ctn">
    <h4>Cropper</h4>
    <h4><a id="changePhotoBtn">Choose photo</a> - <a wicket:id="remove">Remove current</a></h4>
    <img src="http://www.errandr.com/wicket/resource/org.apache.wicket.Application/images?id=a1eedaec-5682-4a51-90e9-9cf049465bf2-.jpg" class="frame" id="ferret" style="height: 280px; float: left;">
  </div>
  <div id="preview-ctn" class="preview-ctn">
    <h4>Preview Photo</h4>
    <p>How your photo appears on your profile.</p>
    <wicket:link>
   	<img id="cropper-ajax" src="generic-ajax.gif" style = "width: 200px; height: 200px; display :none"/>
   	</wicket:link>
  </div>
</div>
<div class="actions">
  <form wicket:id="upload-form" onsubmit="return checkCoords();">
      <input wicket:id="x" id="x" name="x" type="hidden">
      <input wicket:id="y" id="y" name="y" type="hidden">
      <input data-changed="false" wicket:id="w" id="w" name="w" type="hidden">
      <input wicket:id="h" id="h" name="h" type="hidden">
      <input wicket:id="edit-current-photo" id="edit-current-photo" type="hidden" />
      <input wicket:id="photoField" id="photoField" accept="image/*" style="opacity:0;width:0px;height:0px; position: absolute; top: -2000000000" tabindex="-1" name="photo" type="file">
      <button wicket:id="submit" style="margin-right: 8px" class="btn primary-btn profile-image-save" type="button">Update</button>
    <button onclick="$('#photoUploader').modal('toggle')" type="button" class="btn profile-image-cancel js-close">Cancel</button>
    <span wicket:id="progress"></span>
    </form>
</div>
      </div>
</div>
</div><!-- /.modal-dialog -->
</div>
</div>
</wicket:panel>