<wicket:panel>
	          <div style="
    background: #ffffff;; max-width:600px
" class="tweet original-tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable js-original-tweet        has-cards  has-native-media  with-media-forward    auto-expanded     media-forward with-social-proof focus opened-tweet">

    
    <div class="content">
            <div class="stream-item-header">
       <span wicket:id="name">
       
       </span>
       <span class="time" wicket:id="time">
  
		</span>
 </div>     
              <div class="cards-media-container js-media-container"><div data-card-url="//twitter.com/TheEconomist/status/539778450199154689/photo/1" data-card-type="photo" class="cards-base cards-multimedia" data-element-context="platform_photo_card">
               <span wicket:id="details">	
  	   
  	   </span>

  <div class="cards-content">
    <div class="byline">
       
    </div>
    
  </div>
  
</div>
</div>
  <div class="expanded-content js-tweet-details-dropdown">
      <div class="js-tweet-details-fixer tweet-details-fixer">
  <div class="js-machine-translated-tweet-container"></div>
    <div class="js-tweet-stats-container tweet-stats-container ">
    </div>

  <div class="client-and-actions">
  <span wicket:id="confirm-proposal-panel"></span>
  <span class="metadata">
		       <!-- Add additional links like comment -->
   </span>
   <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions" style="float:right">
      <div class="dropdown">
  <button data-toggle="dropdown" class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-tooltip js-dropdown-toggle" type="button" aria-haspopup="true" data-original-title="More">
      <span class="fa fa-ellipsis-h fa-2x"></span>
      <span class="u-hiddenVisually">More</span>
  </button>
  <div class="dropdown-menu">
  <div class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <ul> 
      <li class="share-via-dm js-actionShareViaDM" data-nav="share_tweet_dm">
        <button type="button" class="dropdown-link">Share via Direct Message</button>
      </li>
  </ul>
</div>

</div>

    </div>
</div>

</div>
  </div>
   		
    </div>
  </div>
</wicket:panel>