<wicket:panel>
	 <form class="t1-form" id="search-home-form" action="/people/search" method="GET">
      <div class="input-wrapper">
        <label class="t1-label">
          <span class="u-hiddenVisually">Search query</span>
          <input wicket:id="current" placeholder="Search errand posts" id="search-home-query" class="search-input" autocomplete="off" spellcheck="false" value="" name="query" type="text" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-dropdown-5">
        </label>
        </div>
         <div class="operators-container">
        <button wicket:id="submit" type="submit" class="visuallyHidden">Search</button>
      </div>

        </form>
</wicket:panel>