<wicket:panel>
	<div class="account  js-actionable-user js-profile-popup-actionable ">
    <span style="float:right" wicket:id="user-actions"></span>
 <div class="content">
    <div class="stream-item-header">
      <a wicket:id="name" class="account-group js-user-profile-link" href="/Lbars_nj">
      
     </a>
    </div>
      <p wicket:id="bio" class="bio ">
         
      </p>
      <!-- Mutual Friends -->
  </div>
</div>

</wicket:panel>