<wicket:extend>
<div id="page-outer">
          <div id="page-container" class="AppContent wrapper wrapper-search">
              





            <div id="search-operators-dialog" class="modal-container">
  <div class="close-modal-background-target"></div>
  <div class="modal draggable">
    <div class="modal-content">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--medium">
    <span class="visuallyhidden">Close</span>
  </span>
</button>

      <div class="modal-header">
        <h3 class="modal-title">Search Operators</h3>
      </div>
      <div class="modal-body">
        <table class="modal-table modal-table-bordered">
  <thead>
    <tr>
      <th>Operator</th>
      <th>Finds tweets...</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>twitter search</td><td>containing both "twitter" and "search". This is the default operator.</td></tr>
    <tr><td><b>"</b>happy hour<b>"</b></td><td>containing the exact phrase "happy hour".</td></tr>
    <tr><td>love <b>OR</b> hate</td><td>containing either "love" or "hate" (or both).</td></tr>
    <tr><td>beer <b>-</b>root</td><td>containing "beer" but not "root".</td></tr>
    <tr><td><b>#</b>haiku</td><td>containing the hashtag "haiku".</td></tr>
    <tr><td><b>from:</b>alexiskold</td><td>sent from person "alexiskold".</td></tr>
    <tr><td><b>to:</b>techcrunch</td><td>sent to person "techcrunch".</td></tr>
    <tr><td><b>@</b>mashable</td><td>referencing person "mashable".</td></tr>
    <tr><td>"happy hour" <b>near:</b>"san francisco"</td><td>containing the exact phrase "happy hour" and sent near "san francisco".</td></tr>
    <tr><td><b>near:</b>NYC <b>within:</b>15mi</td><td>sent within 15 miles of "NYC".</td></tr>
    <tr><td>superhero <b>since:</b>2010-12-27</td><td>containing "superhero" and sent since date "2010-12-27" (year-month-day).</td></tr>
    <tr><td>ftw <b>until:</b>2010-12-27</td><td>containing "ftw" and sent up to date "2010-12-27".</td></tr>
    <tr><td>movie -scary <b>:)</b></td><td>containing "movie", but not "scary", and with a positive attitude.</td></tr>
    <tr><td>flight <b>:(</b></td><td>containing "flight" and with a negative attitude.</td></tr>
    <tr><td>traffic <b>?</b></td><td>containing "traffic" and asking a question.</td></tr>
    <tr><td>hilarious <b>filter:links</b></td><td>containing "hilarious" and linking to URLs.</td></tr>
    <tr><td>news <b>source:twitterfeed</b></td><td>containing "news" and entered via ErrandaFeed</td></tr>
  </tbody>
</table>

      </div>
    </div>
  </div>
</div>
<div id="search-home" class="main">
  <div class="search basic-search">
    <h1>Discover the world around you </h1>
                    <script>
                $().ready (function () {
                	$('#doc').click(function (event) {
                	if (event.target.id != 'search-home-query') {
                		$('#search-home-ajax-search-results').hide()
                	};
                  });
                });

                $(function () {
                
                   $('#search-home-query').bind ('keyup', function () {
    var min_length = 1; // min caracters to display the autocomplete
    var keyword = $('#search-home-query').val();
    var userid= $('#user-id').val();
    if (keyword.length >= min_length) {
        $.ajax({
            url:  '/ajax/action/search/' + userid + '/' + keyword,
            type: 'GET',
            success:function(data){
                $('#search-home-ajax-search-results').show();
                $('#search-home-ajax-search-results-set').html(data);
            }
        });
    } else {
        $('#search-home-ajax-search-results').hide();
    }
});

 $('#search-home-query').bind ('focus', function () {
 	$('#search-home-ajax-search-results').show();
 });
                });
 

</script>
    <form class="t1-form" id="search-home-form" action="/search" method="GET">
      <div class="input-wrapper">
        <label class="t1-label">
          <span class="u-hiddenVisually">Search query</span>
          <input placeholder="Search people, errands and pages" id="search-home-query" class="search-input" autocomplete="off" spellcheck="false" value="" name="query" type="text" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-dropdown-5">
        </label>
         <div id="search-home-ajax-search-results" role="listbox" class="dropdown-menu typeahead" style="
    display: none;
">
  
  <div role="presentation" class="dropdown-inner js-typeahead-results">
      
    <ul id="search-home-ajax-search-results-set" role="presentation" class="typeahead-items typeahead-accounts social-context js-typeahead-accounts block3 has-results">
  
</ul>
  </div>
</div>
          <div role="listbox" class="dropdown-menu typeahead" id="typeahead-dropdown-5">
  <div aria-hidden="true" class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <div role="presentation" class="dropdown-inner js-typeahead-results"><div role="presentation" class="typeahead-recent-searches block0">
  <h3 id="recent-searches-heading" class="typeahead-category-title recent-searches-title">Recent searches</h3><button type="button" tabindex="-1" class="btn-link clear-recent-searches">Clear All</button>
  <ul role="presentation" class="typeahead-items recent-searches-list">
    
    <li role="presentation" class="typeahead-item typeahead-recent-search-item">
      <span class="icon close" aria-hidden="true"><span class="visuallyhidden">Remove</span></span>
      <a role="option" aria-describedby="recent-searches-heading" class="js-nav" href="" data-search-query="" data-query-source="" data-ds="recent_search" tabindex="-1"></a>
    </li>
  </ul>
</div>
<div role="presentation" class="typeahead-saved-searches block1">
  <h3 id="saved-searches-heading" class="typeahead-category-title saved-searches-title">Saved searches</h3>
  <ul role="presentation" class="typeahead-items saved-searches-list">
    
    <li role="presentation" class="typeahead-item typeahead-saved-search-item">
      <span class="icon close" aria-hidden="true"><span class="visuallyhidden">Remove</span></span>
      <a role="option" aria-describedby="saved-searches-heading" class="js-nav" href="" data-search-query="" data-query-source="" data-ds="saved_search" tabindex="-1"></a>
    </li>
  </ul>
</div><ul role="presentation" class="typeahead-items typeahead-topics block2" style="display: none;">
  
  <li role="presentation" class="typeahead-item typeahead-topic-item">
    <a role="option" class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-ds="topics" tabindex="-1">
    </a>
  </li>
</ul><ul role="presentation" class="typeahead-items typeahead-accounts social-context js-typeahead-accounts block3" style="display: none;">
  
  <li role="presentation" data-user-id="" data-user-screenname="" data-remote="true" data-score="" class="typeahead-item typeahead-account-item js-selectable">
    
    <a role="option" class="js-nav" data-query-source="typeahead_click" data-search-query="" data-ds="account">
      <img class="avatar size32" alt="">
      <span class="typeahead-user-item-info">
        <span class="fullname"></span>
        <span class="js-verified hidden"><span class="Icon Icon--verified Icon--small"><span class="u-hiddenVisually">Verified account</span></span>
</span>
        <span class="username"><s>@</s><b></b></span>
      </span>
      <span class="typeahead-social-context"></span>
    </a>
  </li>
  <li role="presentation" class="js-selectable typeahead-accounts-shortcut js-shortcut"><a role="option" class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-shortcut="true" data-ds="account_search"></a></li>
</ul></div>
</div>

      </div>
      <div class="operators-container">
        <button type="submit" class="button btn primary-btn submit selected search-btn">Search</button>
      </div>
    </form>
 
  </div>
  <div class="bottompart">
    <div class="Footer module roaming-module ">
  <div class="flex-module">
    <div class="flex-module-inner js-items-container">
      <ul class="u-cf">
        <li class="Footer-item Footer-copyright copyright">© 2015 Erranda</li>
       </ul>
    </div>
  </div>
</div>

  </div>
</div>

          </div>
        </div>
</wicket:extend>