<wicket:panel>
<wicket:link>
<link rel="stylesheet" href="twitter_logged_out.bundle.css">
</wicket:link>
<div class="front-signup js-front-signup" data-login-message="false" style="">
    <h2 style="padding: 15px;"><strong>Sign Up today - It's Free</strong></h2>

	  <form wicket:id="signup" action="" class="t1-form signup" id="frontpage-signup-form" method="post">
	<div wicket:id="feedback"></div>
    <div class="field">
      <input id="signup-firstname" wicket:id="fname" type="text" class="text-input firstname-input" autocomplete="off" maxlength="50" placeholder="First Name" style="width: 125px;margin-right: 5px;">
      <input id="signup-lastname" wicket:id="lname" type="text" class="text-input lastname-input" autocomplete="off" maxlength="50" placeholder="Last name" style="width: 125px">
    </div>
    <div class="field">
      <input id="signup-email" wicket:id="email" type="text" class="text-input email-input" autocomplete="off" placeholder="Email">
      
    </div>
     <div class="field">
      <input id="signup-username" wicket:id="username" type="text" class="text-input username-input" autocomplete="off" placeholder="Username">
      <input wicket:id="user-location" type="hidden" id="user-location" />
    </div>
    <div class="field">
      <input id="signup-password" wicket:id="password" type="password" class="text-input password-input"   placeholder="Password">
      
    </div>
    
   
    <button wicket:id="submit" type="submit" class="btn primary-btn tweet-action joinButton js-tweet-btn u-floatRight">
      Sign Up 
    </button>
  </form>
  
<script type="application/javascript">
	function getgeoip(json){
	 	var location;
	 	if(typeof json.city != "undefined")
	 		$('#user-location').val (json.city + ", " + json.country);
	 	else if (typeof json.country != "undefined")
	 		$('#user-location').val (json.country);	
    }
</script>

<script type="application/javascript" src="http://www.telize.com/geoip?callback=getgeoip"></script>
  </div>
</wicket:panel>