<wicket:panel>
 	   <a wicket:id="not-friends-link" title="Send friend request" class="user-actions-follow-button js-follow-btn btn small" type="button" style="display:none">
 	  <span class="fa fa-user-plus"></span>
      			Add Friend
  </a>
<a wicket:id="friends-action-link" title="Go to page" class="user-actions-follow-button js-follow-btn btn small" type="button" style="display:none">
	<span class="fa fa-check"></span>
      Friends
</a>
<a wicket:id="pending-action-link" title="Go to page" class="user-actions-follow-button js-follow-btn btn small" type="button" style="display:none">
	<span class="fa fa-check"></span>
     	Request sent
</a>
<span wicket:id="mini-follow-action"></span>
</wicket:panel>