<wicket:panel>
<div class="module roaming-module wtf-module js-wtf-module  has-content">

  <div class="lonely-module">

    <div class="flex-module-header">
      <h3>Find people you know</h3>
      <small> - </small>
        <small class="view-all"><a class="js-view-all-link" href="./search" data-element-term="view_all_link">Search</a></small>
    </div>

    <div wicket:id="infinite-scroll" class="js-recommended-followers dashboard-user-recommendations flex-module-inner" data-section-id="wtf" style="opacity: 1;">  
        <span wicket:id="suggested">
        	<span wicket:id="this" />
        </span>
    </div>

  </div>
    <div class="visuallyHidden flex-module import-prompt">
      <div class="flex-module-footer u-table">
        <a href="/who_to_follow/import" class="js-tooltip u-tableCell u-alignMiddle" data-original-title="Find people you know">
          <span class="Icon Icon--follower Icon--small"></span><span class="u-hiddenVisually">Find people you know</span>
        </a>
        <a class="u-tableCell u-alignMiddle" href="/who_to_follow/import">Find people you know</a>
        <span class="u-tableCell u-alignMiddle middot">·</span>
        <a class="u-tableCell u-alignMiddle" href="/who_to_follow/interests">Popular accounts</a>
      </div>
  </div>

</div>
</wicket:panel>