<wicket:panel>
 <div class="js-account-summary account-summary js-actionable-user ">
 <a title="Don't suggest this"  class="aux-link" wicket:id="hide"><span class="fa fa-close"></span></a>
  <div class="content">
    <a wicket:id="link" class="account-group js-recommend-link js-user-profile-link user-thumb">
      
      <img wicket:id="thumbNail" class="avatar js-action-profile-avatar " alt="">
      <span class="account-group-inner js-action-profile-name" data-user-id="59166197">
        <b wicket:id="name" class="fullname">Errandr </b>
        <span class="username"><s>@</s><span wicket:id="username" class="js-username">Errandr</span></span>
      </span>
    </a>


    <small wicket:id="metadata" class="metadata social-context">
    </small>
    
    <span wicket:id="social-action">

    </span>
    
	
  </div>
</div>
</wicket:panel>