<wicket:panel>
    <form wicket:id="form" class="t1-form form-horizontal requires-password" autocomplete="off" method="POST" action="https://twitter.com/settings/accounts/update">
    <div style="margin-top: 10px;" id="username_fieldset" class="control-group">
        <label for="user_screen_name" class="t1-label control-label">Current City or Town</label>
        <div class="controls">
        <p id="username_notification" class="notification"></p>
         <input id="user-location" wicket:id="user-location" type="text">
        </div>
        
      </div>
      <div id="username_fieldset" class="control-group">
        <label for="user_screen_name" class="t1-label control-label">Username</label>
        <div class="controls">
          <p id="username_notification" class="notification"></p>
          <input wicket:id="username" id="user_screen_name" name="user[screen_name]" type="text" value="Withinet">
        </div>
        
      </div>
  <div class="control-group">
  <label for="bio" class="t1-label control-label">Interests</label>
  <div class="controls">  
  <p id="username_notification" class="notification"></p>
<textarea wicket:id="bio" id="bio" spellcheck="true" role="textbox" aria-multiline="true" style="
    max-height: 63px; max-width: 210px;
" placeholder="Things you care about..."></textarea>
</div>
</div>

      <div id="email_fieldset" class="control-group">
        <label for="user_email" class="t1-label control-label">Email</label>
        <div class="controls">
          <p id="email_notification" class="notification"></p>
          <input wicket:id="email" id="user_email" class="email-input" name="user[email]" type="text">
          <p>Email will not be publicly displayed</p>
        </div>
      </div>
<span wicket:id="feedback"></span>
      <div class="form-actions">
  <button wicket:id="submit" class="btn primary-btn" type="submit">Update Profile</button>
  <span class="spinner-small settings-save-spinner"></span>
</div>
      
    </form>
    <script type="text/javascript">

    function init () {
   //   $("#user-location").geocomplete();
    };
    
    init ();
    
</script>
</wicket:panel>