<wicket:panel>

<a class="line" href="javascript:;" onclick="$('#xyz_location_update_form').slideDown()">Change location</a>
<form style="display:none" id="xyz_location_update_form" wicket:id="form" class="t1-form form-horizontal requires-password" autocomplete="off" method="POST" action="https://twitter.com/settings/accounts/update">
    <hr>
     <span wicket:id="feedback"></span>
     
      <h3 class="settings-header">Current Location</h3>
          <div class="controls">
          <input id="update-location" wicket:id="current-location" type="text">
        </div>

      <div class="form-actions">
  <button wicket:id="submit" class="btn primary-btn tweet-action tweet-btn js-tweet-btn" type="submit">Update Location</button>
</div>
      
    </form>
<script type="text/javascript">
	
    $(function () {
      $("#update-location").geocomplete();
    });
    
</script>
</wicket:panel>