<wicket:panel>
    <a class="line" href="javascript:;" onclick="$('#xyz_password_update_form').slideDown()">Change Password</a>
    <form style="display:none" id="xyz_password_update_form" wicket:id="form" class="t1-form form-horizontal requires-password" autocomplete="off">
     <hr>
     <span wicket:id="feedback"></span>
      <h3 class="settings-header">Password settings</h3>
     <div class="control-group">
        <label for="current_password" class="t1-label control-label">Current password</label>
        <div class="controls">
          <input wicket:id="current-password" type="password" name="current_password">
          <p>
              <a wicket:id="forgot-password" id="forgot_password" class="js-static-forgot-password">Forgot your password?</a>
          </p>
        </div>
        <div class="controls">
          <input placeholder="New password" wicket:id="new-password" type="password" name="current_password">
        </div>
        <div class="controls">
          <input placeholder="Verify password" wicket:id="verify-password" type="password" name="current_password">
        </div>
      </div>
      <div class="form-actions">
  <button wicket:id="submit" class="btn primary-btn tweet-action tweet-btn js-tweet-btn" type="submit">Update Password</button>
	</div>
</form>
</wicket:panel>