<wicket:panel>
 	<div class="component" style=" background: rgb(247, 245, 222); padding: 10px; padding-left: 12px; border-bottom: 1px solid #e1e8ed; ">
	<div wicket:id="action-container" style="
    float: left;
">
    </div>
    <span wicket:id="follow-button">
    </span>
    
    <a wicket:id="message-person" title="Message" class="user-actions-follow-button js-follow-btn btn" type="button" style="padding: 12px;">Message
</a>
    
    
    </div>
</wicket:panel>