<wicket:panel>
	<p class="intro-modal-body">Share and discover errands in a social way. </p>
	<div class="modal-footer error-modal-body intro-modal-body">
        <a wicket:id="next" class="btn primary-btn">
	        <span class="button-text tweeting-text">
	                      Next
	        </span>
        </a>
    </div>
</wicket:panel>	