<wicket:panel>
<form wicket:id="form" class="t1-form form-horizontal requires-password" autocomplete="off" method="POST" action="https://twitter.com/settings/accounts/update">
     <span wicket:id="feedback"></span>
     
      <h3 class="intro-modal-body settings-header">Share your errands with people closest to you. What's your closest town?</h3>
          <div class="form-group">
          <input id="update-location" wicket:id="current-location" type="text">
        </div>

      <div class="modal-footer error-modal-body intro-modal-body">
  <button wicket:id="submit" class="btn primary-btn" type="submit">Next</button>
</div>
      
    </form>
<script type="text/javascript">

    function init () {
      $("#update-location").geocomplete();
    };
    
    init ();
    
</script>
</wicket:panel>